[2021-02-19 03:13] mocleiri opened #1 "Upgrade Micropython to latest to support version 4.3 esp-idf's"
There is work in micropython on the master branch for the esp32 fork to allow it to be used with more modern espressif idf versions than 4.0.1.

See if we can move the miketeachman i2s commit to the tip of master and then adjust the build scripts accordingly to build the esp32 firmware using the new code.

I hope that by upgrading we will get more insight into the watchdog timer issue preventing f

[2021-03-21 23:27] mocleiri opened #2 "Implement micro-speech on esp32"
On esp32 we need to use the i2s perhiperal to sample audio and then convert into spectrograms to feed into the example input tensor.

The unix port works on the fixed 1 second yes and no samples so we need to adapt for running on a continually sampling basis.

At the moment my plan is to redo the sliding window sampling apprach in micropython.  Also to redo the inference averaging output processor

[2021-04-20 03:54] mocleiri commented on #2
I have all of the different parts implemented for ESP32 with a INMP441 MEMS microphone.  But not working yet.

[2021-04-20 03:56] mocleiri opened #3 "Migrate to Micropython 1.15"
Micropython 1.15 changes the build system for esp32 from GNU Make to CMake but also opens up the ability to build with the latest espressif idf versions.

I need to update the code so that the microlite and audio_frontend modules build using the new way.

ulab upstream also supports the new way so I will need to upgrade that aswell.

[2021-04-20 04:06] mocleiri commented on #3
Also need to cherry pick the latest i2s work from https://github.com/miketeachman/micropython/tree/esp32-i2s for esp32

[2021-04-20 04:08] #1 closed

[2021-04-20 04:09] mocleiri commented on #1
Using #3 for this instead.

I fixed the out of memory issue by just reading in the tensorflow model.tflite directly from flash instead of trying to read it in as an array encoded in a micropython file.

[2021-04-20 04:12] mocleiri commented on #3
Instead of cherry picking  I just need to follow the instructions here: https://github.com/micropython/micropython/pull/4471#discussion_r581447887

[2021-04-21 03:28] mocleiri commented on #3
There is a single commit on **i2s-PR-master-rebase** that I can setup and/or cherry pick instead.  It has more advanced features like an internal ringbuffer implementation and a way to register a callback function to run when a buffer is available to process.

[2021-04-29 02:11] mocleiri commented on #2
I was able to use the latest audio segmentation code in the unix port by switching the model.tflite used.  The one I picked up from the training page in the example had the wrong quantization, uint8 instead of int8.

I filed https://github.com/tensorflow/tensorflow/issues/48752

I used the google collab script to regenerate it from the tensorflow checkpoint and then it worked.

I'm still trying to

[2021-05-04 22:03] mocleiri opened #4 "Expose tensor type to validate model is as expected"
I got caught out using the wrong model because I didn't validate the type of the input and output tensors.

We can either expose this on the tensor or add an an option when building the interpreter to validate the types there.

In both cases we need to make some constants that can be used to represent the different tensor types.

[2021-05-07 01:24] mocleiri commented on #3
A new pull request was filed using the **i2s** branch.  I moved micropython to be based on that commit.  Because this also changes the project to be built using CMake I also had to add new CMake compatible module build files and to make a new boards directory to contain the flags needed for this firmware:

1. run the cores at 240 mhz
2. use the altered partition table to have 3MB for apps and 1MB

[2021-05-07 01:24] #3 closed

[2021-05-07 01:27] mocleiri commented on #2
Runing on the latest micropython and the latest i2s module seems to have solved the audio gap issues.  I am now able to almost always get the inference to work where as before it was almost never.

I need to clean-up the file structure and improve the example documentation.

[2021-05-21 04:06] mocleiri opened #5 "Implement Magic Wand Tensorflow Example"
Implement the Magic Wand example: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/examples/magic_wand/README.md

We may need to retrain: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/examples/magic_wand/train/README.md

[2021-05-21 04:11] mocleiri opened #6 "Investigate automatic quantization when getting/setting values on tensors."
The rules for quantization seem to always exist on the model input and output tensors.  For the hello world example we added methods you can call to quantize float32 to int8 and int8 to float32 but can we do this transform automatically?

In the microlite C code when we are getting and setting the value of a tensor we know both the tensor type and the micropython object type so could try to automa

[2021-05-21 04:19] mocleiri opened #7 "Create mechanism to build tensorflow ops as native modules to reduce the firmware size"
Tensorflow lite can run in very small flash sizes if only the ops needed for the problem at hand are included in the firmware.

Currently we are bundling all of the tensorflow ops in the firmware however this has a price in terms of flash memory required.

For esp32 4MB flash we changed the partition size to be 3 MB firmware data and 1 MB filesystem.

Native modules are limited for the api's that

[2021-05-30 21:39] mocleiri opened #8 "Update hello world example to load model file from the file system"
The hello world example was implemented first.  It copies the C++ approach of storing the model in an array.

But that didn't work right for the micro speech example.

Due to how micropython compilation worked instead of taking 20k ram for a 20k model we ran out of memory as it tried to allocate 70 k.

Instead let's put the model on the filesystem and load it from there

Let's also see if the comm

[2021-06-09 03:21] #4 closed

[2021-07-17 05:54] mocleiri opened #9 "See if we can use esp-dsp to accelerate esp32 math ops"
I found out that esp32-s3 will have improved hardware support for some dsp functions.

But that espressif also have an esp-dsp module that also provides improved/optimized code for regular esp32 math ops.

Lets investigate on how to use these methods and if its possible for tensorflow lite to use these.

https://docs.espressif.com/projects/esp-dsp/en/latest/esp-dsp-apis.html
https://docs.espressif

[2021-07-17 14:43] mocleiri commented on #9
I think this would need to be done within tensorflow lite micro to make optimized kernels that are implemented with these methods and then on our end customize micropython to enable this feature within the esp-idf.

[2021-07-17 19:30] mocleiri opened #10 "Add tf.lite.Interpreter class to match upstream"
Tensorflow lite already has a python Interpreter module.  This allows the lite model to be run for example on a Linux box.

I don't want to remove the first part yet but do want to see if we can reshape the microlite module so that the interpreter is api compatible with the existing tensorflow lite python Interpreter class.

This would allow building the python on a regular computer and then when

[2021-07-18 03:23] mocleiri opened #11 "Find out how to move the microlite board definitions into the main repo from the micropython submodule."
This commit shows a new option called **MICROPY_DIR**
https://github.com/micropython/micropython/commit/0009a7dc305b9cce693b2e3fe94174c85dc1ef2e

Find out how to build and out of tree board and then see if we can move the microlite board configurations into the main repo instead of coming in from my micropython fork.

[2021-07-18 03:39] mocleiri commented on #7
To support this I think we need to change how tensorflow-microlite.a is built.  We should instead reach into the tensorflow lite micro repository from our microlite module to build the base interpreter but without the ops.

Next we need a way to have a native module for each op.

I think we should be able to start with the hello-world example.

The main question is to find out if we need to make a

[2021-07-18 03:50] mocleiri opened #12 "Change tensorflow submodule to source from new tensorflow micro repo"
Tensorflow lite micro broke out from the main tensorflow repository and is now located at: https://github.com/tensorflow/tflite-micro

Change the tensorflow submodule to refer to the code at the repo.

[2021-07-18 03:54] #12 closed

[2021-07-25 04:40] mocleiri opened #13 "Add microlite_op_resolver to allow for using the all or mutable op resolver"
I found out that there is a memory overhead for using the all op resolver.  I'm not sure on the exact overhead but I head it could be 4k.

Lets create a new type to represent the op_resolver.  It should support using the all resolver or the mutable op resolver where you can specify which one to load.

[2021-07-25 04:49] mocleiri commented on #13
There are 74 ops loaded in the all op resolver but 82 ops listed in the mutable op resolver.  I'm not sure why there is this disparity.

There are 146 ops listed at the tensorflow lite level so I created my own enumeration to represent the 82 possibilities.

[2021-07-27 16:53] mocleiri opened #14 "Refactor Interpreter.invoke to preserve the initialized interpreter"
I just noticed that the interpreter is being recreated on each invoke call.  We should be able to keep the initialized instance around and store the tensorflow c++ interpreter as an mp_obj_t on the microlite_interpreter_t object.

[2021-07-27 18:49] mocleiri opened #15 "Find out where the tensorflow micro version comes from in the new repository"
I was depending on tensorflow/lite/version.h and then using the TFLITE_VERSION_STRING define but that did not make it into the tflite-micro repository.

There are constants in tensorflow/lite/micro/micro_interpreter.h for the schema version and I suspect that may include the tflite version in the future.

[2021-08-02 02:10] mocleiri commented on #15
TFLite doesn't have a version per-se.  I asked on the tflite micro mailing list and was told that using the commit id would be more accurate.

I need to change the build to write a MICROLITE_VERSION_STRING that is composed of the git commit id from the tensorflow submodule and then pass that into what is put into the microlite object version field in micropython.

[2021-08-02 02:31] mocleiri opened #16 "Remove unused code related to models and openmv"
I started from trying to use the openmv C -> C++ bridge code but I've ended up with a similiar but different approach.

I want to cleanup the code base to remove the unused openmv functions.

The same for the model.  I ended up getting inference to work using the interpreter object so I should remove the non-working microlite.model object skeleton.

[2021-08-02 03:43] mocleiri commented on #16
Also includes commits:
8ca54269d2e077d859b6a847fc99f704f954aa97
a7f4c8910795d2a9dd332cc62291d5179aaad905
e47fe3dc61d663108ffa1f71133b7aac29b8beab

[2021-08-02 03:43] #16 closed

[2021-08-03 14:10] mocleiri opened #17 "Setup CI to build the project"
To start with we need to build for esp32:

1. use espressif/idf public docker container for building
2. build tensorflow
2. build micropython esp32 port with microlite, audio-frontend and ulab modules.

For testing we also need to build for the unix port:

1. Develop custom docker image for building for the unix port.
2. build tensorflow
2. build micropython unix port with microlite, audio-fronten

[2021-08-03 20:25] mocleiri commented on #17
the build is working for esp32 tensorflow but not quite working for esp32 micropython.  I want to only rebuild tensorflow when there is a change and the rest of the time get it from cache.

https://github.com/actions/cache

I'm not quite sure how to structure the jobs to get what I want so I may consolidate them into a single job to keep them simpler.

[2021-08-03 21:45] mocleiri commented on #17
CI is now working.  There is probably a way to skip the actual build of libtensorflow-microlite.a to only occur if there is a tensorflow change but at the moment both parts always build.

I was able to verify that downloading the microlite-spiram-16m firmware that I was able to flash it.

[2021-08-03 21:45] #17 closed

[2021-08-04 03:34] mocleiri opened #18 "Move custom board configs up to the main repository and setup on micropython master"
In order to switch micropython to master I need:
1. To figure out how to put the board configs into the main repository
2. Make the i2s core configurable
3. Pass through the boards_dir option when building micropython.

[2021-08-04 20:19] mocleiri commented on #15
git submodule status may be a good way of getting the version string.

[code]

I'm not sure where it is getting the version from but if I can get that from tensorflow it would be the perfect value to embed.

[2021-08-04 23:50] mocleiri commented on #18
I didn't do anything with making the i2s task be configurable to run on the second core.  Everything else is done.

[2021-08-04 23:50] #18 closed

[2021-08-04 23:50] mocleiri commented on #11
This was done in #18

[2021-08-04 23:50] #11 closed

[2021-08-04 23:52] mocleiri commented on #14
This has been merged.  We probably have to revisit the destructor case.

[2021-08-04 23:52] #14 closed

[2021-08-04 23:54] mocleiri opened #19 "Parameterize the build artifacts to make downloading easier"
When I download multiple artifacts I get so many same dir (1), same dir (2), .. same dir (n).

Lets use this example to make a nightly build that has the build id on the name:
https://stackoverflow.com/a/60942437/140424

We can also look at how the naming convention is done with the micropython autobuild scripts.

[2021-08-06 16:56] mocleiri opened #20 "Don't trigger new firmware builds when the examples or documentation change"
Don't trigger new firmware builds when the examples or documentation change.

[2021-08-06 16:57] #2 closed

[2021-08-06 16:57] #20 closed

[2021-08-06 20:48] mocleiri commented on #5
Updated links:
https://github.com/tensorflow/tflite-micro/blob/main/tensorflow/lite/micro/examples/magic_wand/README.md

https://github.com/tensorflow/tflite-micro/tree/main/tensorflow/lite/micro/examples/magic_wand/train

[2021-08-07 03:33] mocleiri opened #21 "Setup CI for unix port"
I want to setup a github actions workflow for the unix port.

It should built in debug mode.

[2021-08-07 03:36] mocleiri opened #22 "Migrate unix specific build logic into variant config"
ESP32 is using cmake but I know pyboard uses gnumake so I need to move some of the configuration out from the micropython.mk files  in the microlite and audio_frontend modules into a custom variant configuration.

That way things like running in -g mode won't happen when making an actual firmware.

Variant seems to be the unix port equivalent of the out of tree boards directory.

[2021-08-08 04:42] mocleiri opened #23 "Setup CI for windows port"
It will be more convenient to have a micropython windows binary so try and build for windows.

[2021-08-08 04:50] #21 closed

[2021-08-09 01:33] #8 closed

[2021-08-11 03:52] mocleiri opened #24 "Implement person detection example"
I don't have a camera but I think I should be able to fake it by getting the tensorflow lite model and then the pictures that are from the upstream repo for a person and a not person image and then run the model to classify those pictures.

[2021-08-11 04:28] mocleiri commented on #24
I was able to code an example and run it with the following outputs:
[code]

[2021-08-11 04:31] mocleiri commented on #24
I think something is wrong because the test code says we should expect the 'not a person' value to be greater than 'person' when looking at the no_person_image.

Refer to the test: https://github.com/tensorflow/tflite-micro/blob/main/tensorflow/lite/micro/examples/person_detection/person_detection_test.cc

[2021-08-11 04:38] mocleiri commented on #24
Can also try this to get the test to run locally:
 make -f tensorflow/lite/micro/tools/make/Makefile person_detection_test_int8

[2021-08-11 04:43] mocleiri commented on #24
git/tensorflow-micropython-examples/tensorflow$ make -f tensorflow/lite/micro/tools/make/Makefile test_person_detection_test_int8
find: ‘../google/’: No such file or directory
tensorflow/lite/micro/tools/make/downloads/flatbuffers already exists, skipping the download.
tensorflow/lite/micro/tools/make/downloads/pigweed already exists, skipping the download.
tensorflow/lite/micro/tools/make/downloa

[2021-08-11 05:14] mocleiri commented on #24
The upstream test is using a completely zero input for the not a person test:
https://github.com/tensorflow/tflite-micro/blob/b6cbaea68bf6fd8d778ab82817c3089288b57b34/tensorflow/lite/micro/examples/person_detection/person_detection_test.cc#L105

I need to change the image used from the c++ test case to the actual not a person and then compare that result.

[2021-08-12 03:10] mocleiri commented on #24
I filed an issue for this with [tflite-micro#395](https://github.com/tensorflow/tflite-micro/issues/395)

[2021-08-15 03:45] mocleiri commented on #24
I merged the code associated into the main branch.  I'm going to keep this open to track the response to the issue I filed about the model not working right on their no example.

It could be for a lot of different reasons.  There could be a threshold like with micro speech or it could just be that the accuracy isn't the highest with image detection models that can fit onto micro controllers.

[2021-08-19 03:39] mocleiri opened #25 "Fix tensorflow build in esp32 ci build"
When I manually updated the tensorflow submodule reference the build broke with a GCC error:

[code]

[2021-08-19 03:40] mocleiri commented on #25
https://github.com/jcmvbkbc/gcc-xtensa/issues/14 talks about a similar gcc error.  It says there are problems with -O2 optimizations that trigger this error.

[2021-08-19 03:41] #25 closed

[2021-08-19 03:51] mocleiri commented on #24
I decided  to close this issue even with the tflite ticket open.

If they select a working no person image and update I will then update when I'm using on our end.

[2021-08-19 03:51] #24 closed

[2021-08-19 03:53] mocleiri opened #26 "Setup CI job to automatically update submodules"
If something changes in micropython, ulab or tensorflow and it breaks our build I want to know.   At the moment the sub modules stay at some specific version until updated.

Lets create a new github actions job that will run daily and make a commit if the submodule branches have new commits on them.

[2021-08-22 02:39] mocleiri opened #27 "Add Circuitpython compatibility"
We should be able to copy the code from ulab which also has circuitpython support.  It looks like you need to clone circuit python and then add a two links like this:

micropython-modules/microlite -> extmod/microlite
micropython-modules/audio_frontend -> extmod/audio_frontend

It would be similiar to this:
https://github.com/v923z/micropython-ulab/blob/1d9670096f093eae0a27437943dca088a27cc378/bui

[2021-08-22 02:49] mocleiri opened #28 "Add support for customizing which tflite micro operators are included in the firmware"
Both tensorflow and the micropython firmware are built where unused code can be dropped at link time.  This allows for a smaller firmware because not all operators need to be included.

We can copy the ulab approach of having many user controllable #defines that can be used to reduce the size of the firmware.

As the unused code detection is done at linking time we may need to add some extra objec

[2021-08-22 02:54] mocleiri commented on #27
We could implement a unix port build like ulab does but probably we would need to wait for #28 to be implemented before we could target an actual device as that will reduce the firmware size by allowing us to select less operators.

[2021-08-22 03:05] mocleiri opened #29 "Analyze available tflite micro models for which operators are most commonly used"
#28 will add the ability to control which operators are included in the firmware.  The purpose of this issue is to analyze available tensorflow lite micro model's to find out which operator's are used the most.

Then we should try to put the most widely used into the standard firmware.  It can also help to identify which ops are for a particular use-case.

We are interested in int8 quantized tflit

[2021-08-23 03:11] mocleiri commented on #28
As a test I turned off all of the 84 ops and the firmware size was shrunk by 200 kb from: 1.8 MB to 1.6 MB.

[2021-08-23 03:17] mocleiri commented on #28
I checked the size of the [reference build](https://github.com/micropython/micropython/runs/3381023215?check_suite_focus=true#step:4:4353) and it is 1.5 MB

[2021-08-23 03:26] mocleiri commented on #28
I need to assess the experience when a user tries to use a model that uses an op that is not built into the firmware.  I should be able to flash the minimal build and then install maybe the hello world example and then see what happens when trying to run it.

[2021-08-28 04:04] mocleiri opened #30 "Add Dockerfile for building arm"
This is partly for circuit python integration work but also for arm builds in general I need a dockerized build environment.  I don't want to grind through sending every incremental change through ci builds.

I need to find out how to build tensorflow lite micro for arm and then build the firmware for arm.

[2021-08-28 04:14] #30 closed

[2021-08-29 00:40] mocleiri opened #31 "Add support for micropython stm32 boards"
Within the stm32  boards there are a wide variety of cortex M0, M3, M4 and M7's.  Each needs to be built separately on the tensorflow side.

Make separate CI to build libtensorflow-microlite.a for the different permutations.  Then find out how to encode the required flavor in the board configurations.

The board specific build can then download the right tensorflow artifact to use when building.

[2021-08-29 01:11] mocleiri commented on #31
I tried to copy the Nucleo H743ZI2 board but I should cross-check with the out of tree example here: https://github.com/micropython/micropython-example-boards/tree/main/boards/CUSTOM_PYBV11

to make sure I am doing it right.

[2021-08-31 04:16] mocleiri opened #32 "Try to move tensorflow lite micro build inside of the microlite module"
I'm getting linker errors when trying to combine the libtensorflow-microlite.a as built by ci: https://github.com/mocleiri/tensorflow-micropython-examples/actions/workflows/build_tensorflow_arm.yml

I think there is a difference between the toolchain used to build the static library and the firmware.

Lets try to use the create_tflm_tree.py script to generate the tensorflow lite micro files within

[2021-09-08 05:06] mocleiri opened #33 "stm32: Debug cause of board reset when trying to run the hello world example"
[code]

In testing we are getting a very large allocation number.  The allocation is supposed to all fit within the allocated tensor area.

I wonder if this is caused by alignment issues.  I  removed some of the alignment functions that were in the original files from openmv.

[2021-09-16 03:04] mocleiri commented on #33
I'm setup using the st-link gdb debugger in windows linked via networking to vscode in windows subsystem for linux for debugging now.  I can debug the decompiled assembler but need to rebuild both tensorflow and micropython so that I can get vision into the source files for where the corruption might be.

[2021-09-16 03:08] mocleiri commented on #33
This is the tensor area alignment area code I picked up originally from openmv.  It wasn't needed for esp32 but I think this issue may be related to the alignment not being done.

https://github.com/mocleiri/tensorflow-micropython-examples/commit/8ca54269d2e077d859b6a847fc99f704f954aa97#diff-17dcba6908911e843de95aa34fb0735d8d6c08a290e859b8e20242b2f6fff612L73

[2021-10-01 03:47] mocleiri commented on #32
The linker errors were related to the stm32 micropython port being bare metal so not having a standard library and all memory allocation handled by the micropython garbage collector.

Circuitpython wants us to have the tflm files integrated and compiled as part of the microlite module build.

While #31 can build a firmware there are issues preventing inference from running so internalizing and sta

[2021-10-24 03:23] mocleiri opened #34 "esp32 support building tensorflow directly within the microlite module instead of linking the static library"
#32 added support to generate the tlfm project directory within the microlite module so that the micropython build can build both the tensorflow library and the micropython module bindings.

The purpose of this issue is to adapt the esp32 build to also use this new building approach.

[2021-10-24 03:37] mocleiri opened #35 "Adjust CI to build stm32 H743"
In order to facilitate external testing I want to add ci to build stm32 for the H743 board.

This involves disabling the static library build for tensorflow microlite and replacing with a single unified build.

[2021-10-24 04:18] mocleiri opened #36 "Merge the audio_frontend module into the microlite module"
Originally I had the audio_frontend as a separate module to allow for not including it but there are other ways to do so.  For circuit python compatibility I think I need to have everything in the microlite module.

Lets restructure things so that audio_frontend is a class within the microlite module.   I think ulab has an example we can use for conditionally including the audio_frontend class.

[2021-10-28 02:40] mocleiri opened #37 "Migrate from Dockerfile to upstream micropython builder structure"
I'm getting a hard to diagnose error when building using a docker file.  Lets switch to use the same ci setup scripts that Micropython itself is using.

We will setup CI using those scripts and then run the build directly on the github actions agent.

[2021-10-29 03:21] #37 closed, assigned to nobody

[2021-10-29 03:40] #34 closed, assigned to nobody

[2021-11-07 21:11] mocleiri commented on #35
This is working but as before there is a reset issue preventing the firmware from working.  It can be flashed for debugging purposes now.

[2021-11-07 21:11] #35 closed

[2021-11-07 21:12] mocleiri opened #38 "Add support for rp2 based boards"
Add builds of the microlite micropython firmware for rp2  (dual core cortex m0 cpus).

[2021-11-09 04:26] mocleiri opened #39 "unix: Fix build when using tflm in microlite"
Find a way to detect if we are in the stm32 build or the unix port build:
[code]

The unix port is failing because its using gnu make which was modified for stm32.

[2021-11-12 23:16] TGiles1998 opened #40 "Add support for esp32s3 and custom version with different SPIRAM CS Pin"
Operating system
macOS Mojave

Python version
3.10

What Chip
ESP32 S2 16MB

Uploaded latest 16MB. Spiram Micropython

esptool.py --port /dev/cu.SLAB_USBtoUART -b 460800 --before default_reset --after hard_reset --chip esp32 write_flash --flash_mode dio --flash_size detect --flash_freq 40m 0x1000 bootloader/bootloader.bin 0x8000 partition_table/partition-table.bin 0x10000 micropython.bin

ampy -p

[2021-11-26 21:47] AdoHaha opened #41 "i2c not working for esp32"
Using the prebuilt firmware (https://github.com/mocleiri/tensorflow-micropython-examples/suites/4296460177/artifacts/112068306)
the version Core Panics for reading from I2C:

The simplest example to reproduce (assuming that there is the device on 0x53 addr, scl pin 18, sda pin 19):

[code]

Guru Meditation Error: Core  0 panic'ed (StoreProhibited). Exception was unhandled.

Core  0 register dump:

[2021-11-27 18:43] AdoHaha commented on #41
I also verified this with second hardware peripheral (i.e. I2C(1 ... )) as well as different pins

The initialization works, as well as scanning (i2c.scan()) and sending to the i2c device.
 It crashes on reading from the device (readfrom_mem, readfom_mem_into ...)

[2021-11-27 18:55] AdoHaha commented on #41
I use the normal (non spiram ) version of the firmware as my boards do not have external RAM. I found this error: https://github.com/espressif/esp-idf/issues/6336 which seems to the situation when SPI ram is connected and for particular pins, in my case, the error occurs on various pin combinations. I switched to soft I2C but I think there is the possibility of some larger bug connected to address

[2021-12-01 21:48] uraich opened #42 "Problem compiling tensorflow library"
tensorflow/lite/micro/kernels/l2_pool_2d.cc:128:1: error: insn does not satisfy its constraints:
which xtensa compiler version do you use?

[2021-12-02 14:49] uraich commented on #41
I had the same problem when using a very new version of esp-idf (v4.4 or newer). It is a bug in esp-idf. If you build micopython with esp-idf-v4.3, the currently latest stable version, the problem does not arise.
Here is the modification I had to make in components/driver/i2c.c at line 1343:
            if (i2c_cmd_is_single_byte(cmd) || cmd->total_bytes == cmd->bytes_used) {
                p_i2c

[2021-12-03 14:15] TGiles1998 commented on #42
tensorflow/lite/micro/kernels/l2_pool_2d.cc:128:1: error: insn does not satisfy its constraints:

I have experienced the same error, will try a different xtensa compiler version

[2021-12-04 11:31] uraich commented on #42
I investigated the problem a little further, and I found that another compiler and/or esp-idf version does not help. However, there are build scripts in 'ci'. I simply had to modify the BASE_DIR to point to my installation directory in build_tensorflow_esp32.sh. Then the tensorflow library compiles ok.
I had to run refresh-tensorflow-microfrontend.sh in micropython-modules/audio_frontend to create

[2021-12-04 16:43] TGiles1998 commented on #42
Thank you will give this a go!

[2021-12-05 02:40] mocleiri commented on #40
At the moment the only place the audio frontend module is working in is for esp32 built from the main branch. like: https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1176418468

I'm working toward supporting circuit python and I need to have everything in one module for that so in the future it will be a class within the microlite module.

The current builds for stm32 (broke

[2021-12-05 03:20] mocleiri commented on #41
Thanks.

@AdoHaha the code on the main branch is already building with esp-idf v4.3 but I changed the code on more in development builds to use esp-idf v4.3.1 instead.

Can you try the updated firmware here: https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1540331954

[2021-12-05 03:25] mocleiri commented on #38
I was able to run the hello world example on my adafruit feather rp2040.  This is now based on the build tflm with the microlite module work so it lacks the audio_frontend class needed for running the micro_speech example.

Also needs Mike Teachman's I2S work for rp2 to be merged into the mainline micropython code.

[2021-12-05 03:25] #38 closed

[2021-12-05 03:27] mocleiri commented on #23
I tried but couldn't get the build to work.

[2021-12-05 03:27] #23 closed

[2021-12-05 03:30] mocleiri commented on #31
The port has been created but doesn't work right.  I am going to close this issue and then use #33 to track finding the cause of inference not working.

[2021-12-05 03:30] #31 closed

[2021-12-05 03:45] mocleiri commented on #42
From the comments @uraich left I think you are building from the main branch where there are two builds:
1. for tensorflow to a static library
2. for micropython with the microlite and audio_frontend modules.

I haven't build from main in a while which is probably the cause here.

Micropython added some optimizations which caused the build to run at the -O2 optimization level.  That is what trigge

[2021-12-05 03:54] mocleiri commented on #29
This was created when i thought space was going to be an issue and we would need to be able to turn off certain tflm operators.

However at the moment there are no size restrictions.  I'm going to close this one but in the future if someone has opinions on which ops should be grouped together it can be revisited.

[2021-12-05 03:54] #29 closed

[2021-12-05 03:56] mocleiri commented on #28
While we don't seem to have any space limitations at the moment.  I think the research work on this topic can be merged down so that others have the ability to choose which ops they want in their custom firmware build.

Probably should be merged down after #36 has been completed.

[2021-12-05 14:01] AdoHaha commented on #41
Hi, thanks for the update. The core panic no longer appears and hardware I2C works correctly.

[2021-12-06 05:52] #41 closed

[2021-12-07 10:46] uraich commented on #42
Hi Michael,
First of all, l a big "THANK YOU" ! Your work is extremely helpful for me to learn something about TinyML.
As I said before, I managed to get everything compiled, and I'm about trying the examples. For the moment, I only had a look at helloworld using the tflite model you provide. There, everything works fine, which means that MicroPython sees the tflite library and the Python interfac

[2021-12-07 19:16] TGiles1998 commented on #40
Thank you so much! I'm currently trying to build this for a ESP32-S3.

[2021-12-08 01:51] mocleiri commented on #40
@TGiles1998 can you point me to the board config in micropython for your board?

I can try to add a microlite firmware build for it as part of the GitHub actions CI.

[2021-12-08 17:00] uraich opened #43 "small bug in ci/build_micropython_esp32_microlite.sh"
This is in the main branch:
I think the last but 1 line should read:
rm -rf build  and not rm -rf builds

[2021-12-08 17:01] #42 closed

[2021-12-08 23:57] TGiles1998 commented on #40
@mocleiri Ive currently built standard Micropython for ESP32-S3 with 8MB flash and 8MB PSRAM. Using SPIRAM CS as GPIO 20.

I think these are the relevant config options. Once again thank you so much!

# ESP32S3-Specific
#
# CONFIG_ESP32S3_DEFAULT_CPU_FREQ_80 is not set
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_160=y
# CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240 is not set
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_MHZ=160

#

[2021-12-09 03:16] #43 closed

[2021-12-09 03:18] mocleiri commented on #43
I've applied the suggested change.

I didn't notice this because the ci script always runs in a pristine sandbox on the google actions agent.

Thanks for catching this.

[2021-12-09 04:22] mocleiri commented on #40
@TGiles1998

I have a feature branch working to integrate  s3  support.

I've setup the custom board directories from the micropython ports/esp32/boards/GENERIC_S3 and ports/esp32/boards/GENERIC_S3_SPIRAM boards but I did it at the main branch level first.

I don't think it will work there because I don't know how to configure the tensorflow make file to build tensorflow for the esp32s3.

I will s

[2021-12-09 08:54] uraich opened #44 "Cannot build anymore"
I wanted to rebuild the MicroPython interpreter for the ESP32 from scratch, but I now fail with
undefined reference to `tflite::MicroInterpreter::MicroInterpreter(tflite::Model const*, tflite::MicroOpResolver const&, unsigned char*, unsigned int, tflite::ErrorReporter*, tflite::MicroResourceVariables*, tflite::MicroProfiler*)'
I think tflite has changed in the tensorflow repository

[2021-12-09 11:24] uraich commented on #44
Sorry, don't know what I had done wrongly. I restarted from scratch and the interpreter now builds as it did before.
Please forget the issue

[2021-12-09 11:24] #44 closed

[2021-12-09 18:42] TGiles1998 commented on #40
@mocleiri Hi the base board uses GPIO26, it would be best to use that so that more people can then use the software once Espressif brings out the hardware, I believe they have a S3-wrover type module in the works atm. I just tried to create a momentary solution with making my own hardware. Setting up with the GENERIC_S3_SPIRAM would be absolutely excellent! I also managed to find a work around for

[2021-12-16 05:19] mocleiri commented on #36
I've made this work and merged this branch down to main.  This branch had the stm32 and rp2 ports on it and is now back into the mainline.

[2021-12-16 05:19] #36 closed

[2021-12-16 05:52] mocleiri opened #45 "Fix esp32s3 build"
The error we are getting is:
[code]

I'm pretty sure this is due to board specific logic within microlite/micropython.cmake and its missing the esp32s3 when adding the debug log class.

[2021-12-16 06:15] mocleiri commented on #40
@TGiles1998 I've successfully migrated the audio_frontend to be within the microlite module.  I'm close to being able to build the esp32s3 firmware, the ci is running and failing but I have a good idea where and why.

I think within a day or two I'll have the standard s3 firmwares building.  Then I will add one for your board with the different options you need

[2021-12-16 06:16] mocleiri commented on #33
On esp32 using openocd vscode stopped directly on the point of the exception.  Lets try running the stm32 using openocd instead of stlink and see if it works the same.

[2021-12-16 06:18] mocleiri opened #46 "test micro_speech on rp2 port"
Now that #36 is complete we can test micro_speech on the rp2.

[2021-12-16 06:26] mocleiri commented on #9
I'm coordinating with Vikram Dattu at Espressif on how to do this.  He plans to implement esp32 s3 optimized kernels within the https://github.com/espressif/tflite-micro-esp-examples repo.

At the moment I plan to add custom kernels upstream in tflite-micro.  But I may just make a sub module to his repo if that  upstream work gets too complicated.

[2021-12-16 06:28] mocleiri commented on #7
I'm closing this as its not a priority anymore.

[2021-12-16 06:28] #7 closed

[2021-12-16 06:29] mocleiri commented on #27
The rp2 port works.  I should add esp32s2 support and then move forward with the circuitpython integration work.

[2021-12-16 19:24] TGiles1998 commented on #40
@mocleiri Thats amazing! Thank you so much!

[2021-12-16 23:47] #45 closed

[2021-12-17 01:17] mocleiri commented on #40
@TGiles1998 the build succeeded can you test the esp32s3 CS gpio 20 board here: https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1590018014

If you scroll down you should be able to download the zip file and flash it.

This is base with one change to set the spi CS pin to gpio 20: https://github.com/mocleiri/tensorflow-micropython-examples/blob/4b6f4113aa12e5be7d97825708032

[2021-12-17 17:19] TGiles1998 commented on #40
@mocleiri Thank you so much for your reply and the time put into integrating this solution for ESP32S3!

I have flashed to the board with the custom files and unfortunately it produced the error below:

Saved PC:0x403bb352
SPIWP:0xee
mode:DIO, clock div:1
load:0x3fcd0108,len:0xf60
load:0x403b6000,len:0x978
load:0x403ba000,len:0x2c80
entry 0x403b616c
W (24) bootloader_random: RNG for ESP32-S3 not c

[2021-12-17 18:34] mocleiri commented on #40
I'll make the change later today.

As far as I'm concerned this custom config can be whatever options you'd like.

Once it works feel free to request other options.  Or file a pull request and I'll apply exactly the options you are using locally.

[2021-12-18 04:45] mocleiri commented on #40
@TGiles1998

I removed the **sdkconfig.usb** and the new firmware is available here:
https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1595108062

I think if it works lets close this issue and then open up other ones for any other adjustments you'd like to make.

[2021-12-18 13:58] MATTYGILO opened #47 "What are the arguments for interpreter"
Hi I was wondering what each parameter means?

interp = microlite.interpreter(micro_speech_model, 8 * 1024, input_callback, output_callback)

Thanks I'm pretty new to micrpython and uncertain what each parameter means

[2021-12-18 14:17] MATTYGILO commented on #47
Actually it's fine I've found out that 8*1024 is the arena size.

[2021-12-18 14:18] #47 closed

[2021-12-18 23:29] TGiles1998 commented on #40
@mocleiri

Hi yes that firmware seems to be working, I have been able to talk to the external RAM and use the micropython functions. Thank you so much!

However, I then tried to run the Micro-Speech example and unfortunately this error occurred:

Connecting to /dev/tty.SLAB_USBtoUART...
ESP-ROM:esp32s3-20210327
Build:Mar 27 2021
rst:0x10 (RTCWDT_RTC_RST),boot:0x8 (SPI_FAST_FLASH_BOOT)
SPIWP:0xee
m

[2021-12-18 23:29] #40 closed

[2021-12-18 23:31] TGiles1998 opened #48 "Custom ESP32-S3 External RAM Configuration"
Following on from the issue: https://github.com/mocleiri/tensorflow-micropython-examples/issues/40

Error produced when trying to run the Micro-Speech example on the ESP32-S3 was:

Connecting to /dev/tty.SLAB_USBtoUART...
ESP-ROM:esp32s3-20210327
Build:Mar 27 2021
rst:0x10 (RTCWDT_RTC_RST),boot:0x8 (SPI_FAST_FLASH_BOOT)
SPIWP:0xee
mode:DIO, clock div:1
load:0x3fcd0108,len:0xf60
load:0x403b6000,len

[2021-12-19 01:56] mocleiri commented on #48
@TGiles1998

That error is most likely due to my moving audio_frontend from a separate module into another type in microlite.

Try
''''
af = microlite.audio_frontend()

af.configure()

af.execute(...)
'''

I updated the main.py and micro_speech.py here to use the new location:
https://github.com/mocleiri/tensorflow-micropython-examples/tree/main/examples/micro-speech/esp32

The model.tflite comes

[2021-12-19 05:51] #46 closed

[2021-12-19 06:25] mocleiri commented on #5
I bought a 6DOF board instead of a 9DOF board so it may not work for me:
https://learn.sparkfun.com/tutorials/lsm6ds3-breakout-hookup-guide/allhttps://learn.sparkfun.com/tutorials/lsm6ds3-breakout-hookup-guide/all

[2021-12-19 18:17] mocleiri commented on #9
In order to configure this on the tensorflow lite micro side first we need to create a makefile.inc file here:
https://github.com/tensorflow/tflite-micro/tree/main/tensorflow/lite/micro/tools/make/ext_libs

and also a esp_download.sh script to go and checkout the esp-dsp repo

[2021-12-20 20:41] TGiles1998 commented on #48
That patch seems to work thanks! I will continue to test and expand on these examples.

Would it be possible to further customize the GPIO 20 CS build to allow for the full 8MB of  SPI-RAM to be used? I believe it just requires the ESP32S3 specific config options in the "idf.py menuconfig" to be selected with the CONFIG_SPIRAM_TYPE_ESPPSRAM64.

I think I put the config options here: https://github

[2021-12-20 22:51] mocleiri commented on #48
Can you report what micropython.mem_info() shows ?

Unexpected Maker flashed essentially the same config but without the spiram size given and it found all 8MB automatically.  Start at the 15 minute mark: https://youtu.be/rcTrYBtaAMc

[2021-12-22 04:17] mocleiri opened #49 "Use cmsis_nn optimized kernels for rp2 port"
Currently the rp2 port is building the reference kernels.  Lets finish the setup so that the build can use the cmsis_nn optimized kernels.

I think its only one change to the prepare-tflm-rp2.sh file and then some minor adjustments to which files are built.

[2021-12-23 03:58] mocleiri commented on #33
I found out that if you import pyb and then set:

[code]

When the board restarts instead of restarting it will hold the board in a place where you can see the stack where the exception occured.

I'm able to reproduce the error 100% when trying to step into https://github.com/tensorflow/tflite-micro/blob/c0adfb0567ecfe7990541a9fdef77018bc83d6fe/tensorflow/lite/core/api/op_resolver.cc#L41

The all_

[2021-12-23 04:50] mocleiri commented on #48
@TGiles1998 I went back and applied all the options you reported originally on #40.

This built locally for me so I think it will via the github actions aswell.

https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1614197339

I left the CPU frequency at 240 MHz but all of the options you had should be applied now.

[2021-12-23 06:18] #49 closed

[2021-12-23 14:48] TGiles1998 commented on #48
@mocleiri

Sorry for the late reply! Thank you that's fantastic! Will start testing this!

[2022-01-02 06:01] mocleiri commented on #33
Micropython contains a subset of libm depending on if mp_float is a double or a float in C.  Tensorflow needs additional math ops.

The current approach is to link the math library.  I think the result will be to add everything else not included in the partial libm implementation.

I also link the stdc++ library but then don't link a standard c library.  The C functions come from the partial imple

[2022-01-02 06:22] mocleiri commented on #33
I flashed the firmware on the build for this fix and it works to run hello_world.
![image](https://user-images.githubusercontent.com/250942/147867910-2f1345e3-f5ce-4290-9197-8b5729bb226e.png)

I'm closing this issue and will file new ones for other improvements.

[2022-01-02 06:22] #33 closed

[2022-01-02 06:30] mocleiri opened #50 "micro_speech: make script aware of each board and reduce to one example script"
The I2S examples show a way to determine which board you are on and to handle board specific things within the same example script.

I want to copy that approach, see :
https://github.com/miketeachman/micropython-i2s-examples/blob/e02240aa13e6f0b5f9fce71c12356b1f752828cc/examples/easy_wav_player.py#L13

Then I could have a single micro_speech.py that would work on all supported boards.

[2022-01-03 07:19] mocleiri opened #51 "implement tflite object detection example"
Recently tflite made a new example implemented using tflite python on raspberry pi.

https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/raspberry_pi

https://youtu.be/mNjXEybFn98

The tflite model size is 4MB so can be tried on Teensy 4.1 or other boards with psram enabled.

The first step would be to implement #10 so that our api is a subset of the tflite python api

[2022-01-03 07:21] mocleiri opened #52 "ci: build all board permutations once per day with a single board per build for within the day builds"
The number of boards to build is pretty large now and its slowing down iteration.

[2022-01-03 17:17] pythonbobo opened #53 "Build for STM32 F446RE Board"
Hi,
I am very interested in your project and just want to answer to your README.
Is it possible to add an build for the nucleo F446RE Board?

Greetings

[2022-01-04 01:26] mocleiri opened #54 "stm32: Fix I2S peripheral is not working"
First you need to use specific SPI pins when connecting the microphone.  Also there is a switch needed to be enabled in the mpconfigboard.h file.

[code]

There is also a MICROPY_HW_I2S2 switch.  I'm not sure if the nucleo h743 supports more i2s channels or not.

[2022-01-04 02:06] mocleiri commented on #53
I can base the microlite build on the upstream NUCLEO_F446RE board:
https://github.com/micropython/micropython/tree/master/ports/stm32/boards/NUCLEO_F446RE

[2022-01-04 02:09] mocleiri commented on #39
I confirmed from the latest build that the unix port can be downloaded and runs ok.  I will merge the feature branch back to main soon.

[2022-01-04 02:09] #39 closed

[2022-01-04 04:12] mocleiri commented on #54
I was able to build after updating the H7 HAL files.

The stm32lib repo is a submodule at micropython/lib/stm32lib

I cloned the upstream  STM32CubeH7 repo:
[code]

Then ran the update script:
[code]

Then the stm32 build worked to build the firmware.

I'm going to have to file a pull request to update these files and in the interim change the micropython submodule back to my fork which can use th

[2022-01-04 04:34] mocleiri commented on #54
I also have to remove the defines to constants defined in the new HAL in micropython-modules/microlite/micropython.mk:
[code]

[2022-01-04 05:15] mocleiri commented on #53
I have a partial build working but there are some problems.

Are these the specs for your board?

180 MHz max CPU frequency
512 KB Flash
128 KB SRAM System

source: https://os.mbed.com/platforms/ST-Nucleo-F446RE/

How much heap do you see when running stock micropython?  It may be enough if you have around 50 kb.

The main issue is firmware size:
[code]

The firmware fits in my 2 MB flash partitio

[2022-01-04 13:50] uraich opened #55 "Playing on micro-speech"
I saw that the new unix build has been merged into main. I tried it and was successful.
Now I am trying to understand the micro-speech example. Since you have integrated the audio front end into the microlite module the example code does not work any more.
I added:
audio_frontend = microlite.audio_frontend()  # before
audio_frontend.configure()
in main.py and micro_speech.py to get that part to wo

[2022-01-04 18:23] mocleiri commented on #55
Thanks for this report.  The unix port was the first one that ran micro_speech but is now very out of date.

I plan on consolidating the different port scripts into a single script that will work for the different ports. See #50.

Can you try the scripts from the esp32 or rp2 directories stripping out the I2S part?

I'm going to fix this one by using the unix port to run the examples as part of th

[2022-01-04 21:07] uraich commented on #55
On the ESP32 version I actually get the same problem:
![image](https://user-images.githubusercontent.com/1673533/148123862-f5ff4bf9-cd7f-4ee4-b938-9b5a5160aacb.png)

[2022-01-04 23:57] mocleiri opened #56 "hello-world: model input values are supposed to be between 0 and 2*pi"
Thanks to Uli Raich for this report and patch.

![image](https://user-images.githubusercontent.com/250942/148139665-16aa979b-6e44-431b-9187-af2b16533704.png)

![image](https://user-images.githubusercontent.com/250942/148139682-4cd6375b-37ef-4488-9c0d-385afff4cf2a.png)

[2022-01-05 00:04] #56 closed

[2022-01-05 00:30] mocleiri commented on #55
@uraich the model is wrong.  Note the UINT8 part.  This is an old model that I had from the beginning but it doesn't work.  In fact tflm has removed support for UINT8 altogether which is why you get those strange errors.

I filed an upstream documentation fix about this since the model file itself was distributed in a zip file which needed to be updated:
https://github.com/tensorflow/tensorflow/is

[2022-01-05 00:50] mocleiri commented on #55
I've committed the changes (https://github.com/mocleiri/tensorflow-micropython-examples/pull/58). Can you see if they solve the problem for you?

For ESP32 double check that you are using the model.tflite from the examples/micro-speech/esp32 directory.

[2022-01-05 09:48] uraich commented on #55
I pulled the new repo and tried the unix version, which now works fine for me (same output as shown above)
You say I should use model.tflite from the examples/micro-speech/esp32 directory but there is no model file. I guess that model.tflite from examples/micro-speech/unix should be the version I will have to upload to the ESP32.
I don't have the microphone going yet, but the error when creating t

[2022-01-05 14:16] mocleiri commented on #55
The model file to use is currently here in examples/micro-speech/lib: https://github.com/mocleiri/tensorflow-micropython-examples/blob/main/examples/micro-speech/lib/model.tflite

I will fix this mess in #50 where there will be just one model file and one set of files.

[2022-01-07 00:37] mocleiri commented on #54
I did something wrong and the build didn't actually work.  On closer inspection there are differences in the name of the HAL functions that are used in machine_i2s.c from the STM32F4 and the HAL available on the STM32H7.

I need to bring in some board awareness to machine_i2s.c and then see if  I can figure out which methods to use on the H7 HAL.

[2022-01-07 00:39] mocleiri commented on #22
I'm closing this task as the unix port builds using the standard configuration.

[2022-01-07 00:39] #22 closed

[2022-01-07 05:44] mocleiri commented on #53
I have  #28  working on main but even when building without the math or c++ library I still get over by 5.5 MB.
[code]

I need to compare the sizes that are reported on the standard micropython build to see how much I need to trim and what is contributing the most to the firmware  size.

[2022-01-07 07:15] pythonbobo commented on #53
Sry for my late answer:
`How much heap do you see when running stock micropython?`
Normally I do not really consider about this. For ordinary STM Projects I use the default values with min. heap size:0x200 and min. stack size:0x400

I hope this can help you.

Best Regards

[2022-01-11 02:03] gigwegbe opened #59 "Esp32: Add camera module"
Hello @mocleiri,
I recently came across your awesome project and you are doing a great work, I have tried a couple of the example projects.   I will want to  replicate a[ similar project](https://github.com/gigwegbe/image_classification_with_openmv_camera/blob/main/ei-opemv-openmv-v0/ei_image_classification.py) but this time with  esp32. So far,  I cannot find the camera module for esp32, I will a

[2022-01-11 05:00] mocleiri commented on #59
Thanks for filing this issue.  I have a report from another user that they were able to successfully modify the firmware to include the micropython-camera-driver.

I'm hoping to get the steps from them and then can apply it.

I think the out of the box build is for esp32-cam-mb.  I don't have that esp32 board setup but can add as part of this issue.

What board are you using?

[2022-01-11 05:02] mocleiri commented on #53
I've been doing some testing.  I think the H743ZI2 build is about 650 KB in size.  I'm trying to lower it down.

I've been playing with #28 applied to this problem but link time optimization is clearly dropping functions but its not dramatically lowering down the firmware size.

I will keep this open but I suspect at the moment you need to use an stm32 board with at least 1MB of flash.

[2022-01-11 05:14] mocleiri commented on #53
I disabled all of ulab and all of tensorflow lite micro and got a firmware size of 360k.  I need to take a closer look at the ops needed for the examples to see if I can get a firmware that will have enough ops within it to do anything.
[code]

[2022-01-11 08:53] uraich commented on #59
Hi @gigwegbe
Looks like I had the same idea as you do, and yesterday I managed to get a micropython firmware compiled for the esp32-cam board into which I integrated the ov2640 camera driver, This camera is installed on the esp32-cam..
Unfortunately it is quite tricky to get the driver running on micropython because it requires memory space in PSRAM to be reserved for its image buffers and micropy

[2022-01-12 10:58] uraich commented on #59
For the moment I don't have much luck. When just including the camera driver into micropython everything looks fine
![esp32-cam_ok](https://user-images.githubusercontent.com/1673533/149127487-372918e0-9e81-41f5-91d9-cf5622e9b761.png)
but when I add ulab and tflm I get:

![esp32-cam_bad](https://user-images.githubusercontent.com/1673533/149127560-73fb705b-40e4-4ffa-8ec0-53d143a80357.png)
I guess th

[2022-01-12 13:14] mocleiri commented on #59
@uraich

Do you have an esp prog board?

https://docs.espressif.com/projects/espressif-esp-iot-solution/en/latest/hw-reference/ESP-Prog_guide.html

It's an external jtag board that you can connect to an esp32 board.

You can use it with visual studio code to debug on the device.

I know the steps to get it and the stm32 st-link connection to work but haven't documented it yet.

Actually I know the

[2022-01-12 19:47] uraich commented on #59
No, I don't have this board. I do have another board though, that should allow me to do JTAG debugging. Unfortunately I left it in my second home.
Nevertheless I made some progress:
![96x96image](https://user-images.githubusercontent.com/1673533/149209484-772879b6-5281-45c1-81e2-6c84f75d0789.png)
This is a 96x96 pixel image taken with the esp32-cam. However, it is jpeg and I must get this image as

[2022-01-13 07:44] MichaelDu9226 commented on #9
Hi, @mocleiri Thanks for your great work.
Is there any update on “esp-dsp to accelerate esp32 math ops”?
we have tested TF Lite microprython on esp32 S3, the speed is disappointing.
The official has launched the official esp-dl library, which is very fast than TF Lite. Can we consider using esp-dl for acceleration?

[2022-01-13 17:22] gigwegbe commented on #59
@mocleiri,
Thanks for the swift feedback. I have a couple of esp32 boards.
Primarily, I use [ESP32 3.5" TFT Touch(Capacitive) with Camera](https://www.makerfabs.com/esp32-3.5-inch-tft-touch-capacitive-with-camera.html) at the moment. However, I have other boards such as [ESY-EYE](https://makeradvisor.com/esp-eye-new-esp32-based-board/) and [TTGO-Camera](http://www.lilygo.cn/prod_view.aspx?TypeId=5

[2022-01-13 20:19] uraich commented on #59
Personally I only have cheap esp32-cam boards and I use these for my tests. I guess however, that the firmware may also work on different esp32 boards with 4M flash and PSRAM. However, I am not sure. You will have to try.
Please take a look at  [my tinyML repository](https://github.com/uraich/tflite-esp32-cam) to see if you can do anything with it.
Today I have been able to acquire 96x96 pixel gra

[2022-01-13 23:53] TGiles1998 opened #60 "Building ESP32-S3 Firmware VS Code Mac Terminal"
The following commands were run on macOS Monterey - version 12.1 Terminal on VS Code

git clone https://github.com/mocleiri/tensorflow-micropython-examples.git

# Then Following the build_esp32s3.yml in the .github/workflows folder.

cd /tensorflow-micropython-examples

git submodule init
git submodule update --recursive
cd micropython
git submodule update --init lib/axtls
git submodule update --i

[2022-01-14 00:11] TGiles1998 commented on #60
Copying and pasting the missing individual folder and files into the board root folder does seem to partially solve it but then produces further errors:

[1116/1606] Building C object esp-idf/main/CMakeFiles/__idf_main.dir/...ensorflow-micropython-examples/micropython/extmod/moduwebsocket.c.ob
cc1: warning: command line option '-fno-rtti' is valid for C++/ObjC++ but not for C
[1118/1606] Building

[2022-01-14 02:25] MichaelDu9226 commented on #9
Thanks for your reply.
I noticed that Vikram Dattu has launched ESP NN, do we have a plan to merge it into tensorflow-micropython-examples?
https://github.com/espressif/esp-nn
This is the Performance Comparison on tflite-micro-esp-examples readme, which looks very excited.
<html>
<body>
<p dir="auto" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 47); font-

[2022-01-14 09:25] mocleiri commented on #9
@MichaelDu9226 thanks for letting me know about esp-nn appearing.  It's used from https://github.com/espressif/tflite-micro-esp-examples

Which also has certain tflm kernels that use the optimized functions.

I was planning on making a place for these kernels in tflm but because he is ahead of me I will pick up these custom kernels from his tflm C++ examples repo directly first.

[2022-01-14 10:19] MichaelDu9226 commented on #9
Thanks for your information. And looking forward to the speed improvement on esp32 S3.

[2022-01-14 18:23] mocleiri commented on #60
My development environment is windows but I'm doing most work in visual studio code running in windows subsystem for linux so I'm unable to help directly.

However if you are able to figure out the steps to build on MacOS please feel free to contribute the steps and we can improve the manual build instructions to include for mac os.

The -fno-rtti error is not an error per-se.  I need to improve t

[2022-01-14 22:19] mocleiri commented on #59
@uraich the cmake flag to point at an external/out of tree component is:

[code]
reference: https://github.com/espressif/tflite-micro-esp-examples/blob/4770f61a79e7567bd09320d8cb2da4f4ff46ca50/examples/person_detection/CMakeLists.txt#L2

I'm looking into #9 to incorporate the accelerated esp tflm kernels and that is how the espressif repo is bringing in esp-camera for the C++ person detection exam

[2022-01-14 22:27] mocleiri commented on #59
@gigwegbe I am happy to add additional board configs into the project.

All I need is a pointer at the board configuration you are currently using and then I can bring that into the project and adapt it to include the right modules, etc.

If you are able to use one of the generic board configs then that would also be useful to know for improving the documentation.  i.e. a known to work boards list

[2022-01-15 10:41] uraich commented on #59
@mocleiri : For the moment I have a working firmware on the esp32-cam with the camera driver included and I tried the person detection example from your repository. Here the result:
![image](https://user-images.githubusercontent.com/1673533/149617067-9ec05704-89ed-45aa-ad9d-44baea0d2557.png)
This looks pretty much like the printout from your README.md
Then I wrote a program that permanently takes

[2022-01-15 13:32] mocleiri commented on #59
@uraich those are amazing results!

Congratulation on getting it all working.

I think the easiest way to fold your changes back into this repo is to file a pull request.

I know you have micropython changes so just extract a patch of your changes and include as a file in the branch you make the pull request on.

$ cd micropython
$ git diff > ../micropython-changes.diff
$ cd ..
$ git add micropyth

[2022-01-15 14:31] uraich commented on #59
I have still improved the program a little: I now light the flash light, incorporated into the ESP32-cam, when a person is seen and I switch it off when no person is around. This works rather well. I had to use PWM to diminish the light intensity, which is extremely bright otherwise.
As I said, all this is still pretty crude but I will try to integrate it correctly into you repository to be able t

[2022-01-15 20:56] TGiles1998 commented on #60
Thank you for your reply! I will focus on the mac build and reply back to the thread so it can be added. Thanks again!

[2022-01-17 04:03] mocleiri commented on #53
@pythonbobo can you download the firmware for the F446RE from here: https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1699763892

I don't think this version is going to work but I wonder if you can report what you see and what fails when you load it.  If it does get to the repl port please copy the [hello-world example model and python code](https://github.com/mocleiri/tenso

[2022-01-18 11:21] DaniDD opened #61 "esp32-s3 images don't work"
Hi,
Im testing any from the last prebuild images for ESP32-S3, but no one work. E.g.: this: https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1699763888
I have a reboot loop after 30sec. In an post I have read I must disable USB in mpconfigboard.cmake
After I remove the line with USB, my build image does work.

[2022-01-18 11:32] DaniDD opened #62 "esp32-s3 hello-world does not work"
Hello,

I try the hello-world example on ESP32-S3. If I start the example, I have this error, then Guru Mediatation and reboot. I dont know is this only an incompatible model, or is my firmware not  correct?
My output:

12:31:04.012 -> interpreter_make_new: model size = 2488, tensor area = 2064
12:31:04.012 -> Didn't find op for builtin opcode 'FULLY_CONNECTED' version '4'. An older version of thi

[2022-01-19 04:31] mocleiri opened #63 "Investigate issues with optional ops breaking esp32 firmwares"
Something is not working with what I merged for #28.

When I flash esp32 now there are repeated LoadProhibited errors and restarts.  I was able to control-c and see this text:

[code]

I may have to revert so that the esp32 builds work.

[2022-01-19 04:35] mocleiri commented on #62
Thanks for this report.  I'm seeing the same thing for regular esp32 builds.

I merged #28 as it seemed to be working but it looks like it was just compiling but not actually doing what it is supposed to which is to allow controlling which tflm ops are included in the firmware.

I'm tracking the fix for this on #63 for now I think you should try using this version which is before I merged #28:
htt

[2022-01-19 04:58] mocleiri commented on #53
@pythonbobo #28 isn't working right.  I had to revert it and will revisit in #63 I don't think the image I linked to is going to work for you.

[2022-01-19 05:22] mocleiri commented on #61
I made the change to both the MICROLITE_S3 and MICROLITE_S3_SPIRAM boards.  Can you download from here and confirm they work?
https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1716379308

[2022-01-19 05:23] mocleiri commented on #62
I reverted the merge of #28 and you should be able to download the updated board image form here:
https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1716379308

[2022-01-19 05:25] mocleiri commented on #48
@TGiles1998 I will close this issue.  Please open others if you want further adjustments made to the configs or anything else.

[2022-01-19 05:25] #48 closed

[2022-01-19 05:31] mocleiri commented on #63
I reverted the change but will use this issue to try and solve the root cause.  I tried but was unable to reproduce using the unix port.

[2022-01-19 07:08] DaniDD commented on #62
Thank you mocleiri für your fixes. The firmware for ESP32_S3 booting now and I can run hello_world.
I have test ist with this build: https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1716379305

[2022-01-19 07:10] DaniDD commented on #61
I try this build for S3:
https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1716379305
It works now. Thank you, great job!

[2022-01-19 19:10] uraich commented on #59
As desired, I created a pull request.
In order to integrate the esp32-cam driver you need Espressif esp32-camera component and the esp32-cam driver by Mauro Riva. I included Mauro's driver in the micropython-modules directory and I had to modify the micropython.cmake file to add it. You must also change main.c in ports/esp32. The diff file is included. I created a new board file (MICROLITE_ESP32_C

[2022-01-25 21:24] mocleiri commented on #62
Closing as the changes have fixed the problem.

[2022-01-25 21:24] #62 closed

[2022-01-25 21:24] mocleiri commented on #61
Closing as the changes have fixed the problem.

[2022-01-25 21:24] #61 closed

[2022-01-28 04:30] mocleiri commented on #9
@MichaelDu9226 can you test the esp32s3 firmware from this build?
https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1759424265

I have it building using the esp_nn module and the custom tensorflow kernels.  When I run the MICROLITE board it will run hello-world but then gets stuck when running micro-speech.    The watch dog timer fires and the board restarts after one or two

[2022-01-28 15:54] TGiles1998 commented on #60
Solved: Ive solved it using latest IDF-4.4 and making sure all of the toolchain had been properly added to the bash Profile. Ive added a pull request with a .md document detailing the process.

The Process is as pasted below:

# Build Tensorflow Micropython on MAC OS using Bash Terminal

Tested on: macOS Monterey Version 12.1

## Prerequisites

# Properly Installing ESP-IDF (Taken from: https://do

[2022-01-30 01:03] mocleiri commented on #59
I made some adjustments to your pull request and have merged the combined work in e6e2a4b302e0e9c7f50fcaaa7e190de95125af1c

I'm working on getting it to run via a github action.

Recent commits have gone into micropython which change how the malloc allocated heap works and they leave 50% of the available space for non micropython purposes.

I adjusted the micropython patch to force micropython int

[2022-01-30 03:37] mocleiri commented on #59
I got the github action working: https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1767505151

I just downloaded and flashed my m5 timer camera and inference still works.

@uraich can you download the microlite-spiram-cam firmware from the above action and report back if it still works for you?

@gigwegbe I checked all 3 boards you posted and they all have 8 MB SPIRAM and 4M

[2022-01-30 03:41] mocleiri commented on #9
@TGiles1998 Can you try this branch with some of your esp32s3 boards and report back if the s3 accelerated ops work ok.

There is a bug somewhere for regular esp32 where micro-speech gets into an infinite loop.  If it works ok for esp32s3 I could merge it just for those boards.

There is supposed to be a significant improvement in inference performance.

https://github.com/mocleiri/tensorflow-micr

[2022-01-30 03:47] mocleiri commented on #60
The corresponding pull request for this was #66 it was merged applied in d083f23ad32a16bf40b7383a69bf98ab1c6c9281.

[2022-01-30 03:47] #60 closed

[2022-01-30 04:34] mocleiri opened #68 "Investigate what is needed to support edge impulse"
I know from some  user reports that the firmware as-is can be used to run tflite models trained by edge impulse.

The purpose of this issue is to investigate what would be needed to be able to sample data from the board as part of the broader edge impulse data collection for training process.

To see what is needed to also wrap the Edgeimpulse C/C++ SDK.  it also has a dependency on tflm.

[2022-01-30 10:20] cgreening opened #69 "Using without callbacks for input and output?"
I'm fairly new to Micropython, so this might not be the way things work.

Is it possible to use the interpreter without input and output callbacks?

e.g.

[code]

[2022-01-30 13:46] TGiles1998 commented on #9
@mocleiri Hi, Ive just tested the firmware you linked on the ESP32S3 and it has worked. There was no infinite loop and I used a Nanosecond timer time.time_ns() which gave 0.85289 s for model to run:

t = time.time_ns()

print ("time step,y")
for c in range(steps):
    interp.invoke()
    counter = counter + 1

elapsed = time.time_ns() - t

print(elapsed)

[2022-01-30 16:16] mocleiri commented on #69
The callback approach is not the best and dates from the very beginning (January 2021) when I didn't know how anything worked.

I plan to change how the interpreter works in #10 to try and line up as a subset of the tensorflow lite python  Interpreter API.

I just took a look at your question on my m5 camera board and its possible to not use the callbacks but at the moment you have to stub a speci

[2022-01-30 16:32] mocleiri commented on #9
@TGiles1998 thanks for taking the time to test this.

On regular ESP32 it also worked fine for me on hello-world.

Are you setup to be able to run it on a larger model like micro-speech (where the esp32 hangs) or perhaps you have another model.  It needs to use the Convolution, Fully Connected and Softmax tensorflow ops.

[2022-01-30 20:07] TGiles1998 commented on #9
@mocleiri Very sorry I misread your comment earlier, Ive now applied the micro-speech example to both an ESP32-S3 with SPIRAM and one without. Unfortunately both have produced the infinite errors you mentioned previously.

#SPIRAM:

18712
interpreter_make_new: model size = 18712, tensor area = 8208
Starting
found - no at 0 seconds -> 1

Guru Meditation Error: Core  1 panic'ed (InstructionFetchErro

[2022-01-30 21:05] cgreening commented on #69
That works nicely!

[2022-01-30 21:05] #69 closed

[2022-01-30 22:48] mocleiri commented on #9
@TGiles1998 thanks for your detailed test results.

I'll have to debug this on the board but at least the errors are this same so a fix for esp32 will likely also fix for the esp32s3.

[2022-01-31 01:14] jpliew opened #70 "Build for NUCLEO_F746ZG - FATAL ERROR MemManage when running hello_world"
Hi all,

I have created a build based on the STM32 samples from this repo for [NUCLEO_F746ZG with STM32F746ZG](https://www.st.com/en/evaluation-tools/nucleo-f746zg.html). Using a good [commit 49521](https://github.com/mocleiri/tensorflow-micropython-examples/tree/feature/63-fix-configurable-op-resolver) the compilation and generation of the firmware was successful but when executing the `hello_wor

[2022-01-31 16:20] uraich commented on #59
@mocleiri : As requested I tried the new version and it works the same way as the version for which I made the pull request. Excellent! I downloaded the binaries but did not know how to flash them (and was too lazy to look it up). I therefore built the firmware from scratch, using the upgraded repository and following the instructions in build_esp32.yml.
There I saw that you put back commands like

[2022-01-31 16:50] mocleiri commented on #59
Thanks again for your contributions and testing that I got it right.

I can never remember the flash options either.  I have them on the README although they are so far down now: https://github.com/mocleiri/tensorflow-micropython-examples#flash-from-windows

I´ll correct those extra s´s.

[2022-01-31 18:34] uraich commented on #59
Thanks for the link. This shows how to do it from Windows but for Linux, just the serial port must be adapted.
I noted it for future use.

[2022-02-01 19:35] mocleiri commented on #70
@jpliew thanks for this report.

I did have a working build for STM32H743ZI2 which worked for hello-world but not micro-speech because there were HAL differences.

I can tell you that the build you are using is definitely not going to work because its from a point in time where the build worked but the program didn't work.

I'm going to spend some time to get the STM32 build working again and/or i

[2022-02-01 23:13] jpliew commented on #70
Thanks @mocleiri , if you need me to test anything, please let me know.

[2022-02-03 01:07] mocleiri commented on #59
I´m closing this as it has been integrated.

@gigwegbe please open new issues if there are any issues with your specific camera boards.

I´m happy to add additional board configs.

[2022-02-03 01:07] #59 closed

[2022-02-03 01:15] mocleiri opened #71 "Integrate new image buffer location switch from micropython-camera-driver"
https://github.com/micropython/micropython/pull/8219 was merged and the micropython-camera-driver upstream added a new option where by you can configure the location of the camera framebuffer to be in regular RAM or PSRAM.

[code]
We should grab that change and include it in our copy so that higher resolutions can be captured.

[2022-02-07 04:39] mocleiri commented on #63
In testing I needed to add RESHAPE and DEPTHWISE_CONV_2D to get micro-speech to work.  I'm also having issues getting the ulab custom header approach to work right.  If I  have the exact alternate header approach it won't be added but it does seem to work if I include the tflm_ops.h file directly.

But then it will have to exist in all of the board/build directories.

[2022-02-10 09:00] MichaelDu9226 commented on #9
@mocleiri  I custom some changes like oct psram and sdcard support on your code.  The person_detection example seems ok.
But when I used my custom model trained on edge impulse, the result is not ok.
It seems that this bugfix can solve it. But when I merged it into this repo it doesn't work.https://github.com/espressif/tflite-micro-esp-examples/pull/11
As you know, micropython use SPIRAM_USE_MEMMA

[2022-02-10 09:05] MichaelDu9226 commented on #9
This is my custom model
[custom_model.zip](https://github.com/mocleiri/tensorflow-micropython-examples/files/8039623/custom_model.zip)
.

[2022-02-10 10:22] MichaelDu9226 commented on #9
Hi @mocleiri
I have solved this by referring to your pull https://github.com/micropython/micropython/pull/8219.
Thanks.

[2022-02-10 17:13] mocleiri opened #72 "Improve documentation around SPIRAM_USE_MALLOC versus SPIRAM_USE_MMAP on esp32."
For implementing person detection we got a change made in upstream micropython so that building the firmware using the **SPIRAM_USE_MALLOC=y** sdk config enables a sharing PSRAM mode where 1/2 of PSRAM goes into the Micropython Heap and the other 1/2 is available for other idf components.

For esp32s3 accelerated ops a scratch pad is also allocated and if your model is large enough you would want

[2022-02-11 02:36] MichaelDu9226 commented on #72
Hi @mocleiri This is my step
1. Under this branch, https://github.com/mocleiri/tensorflow-micropython-examples/tree/feature/9-add-accelerated-esp-tflm-kernels
2. Merge this bugfix into esp-nn https://github.com/espressif/tflite-micro-esp-examples/pull/11
3. Refer to this pull, edit micropython/ports/esp32/main.chttps://github.com/micropython/micropython/pull/8219. Maybe updating micropython submod

[2022-02-19 20:08] mocleiri opened #73 "Fix stm32 build"
The STM32 built but then stopped working.  I've located the cause and its due to the MICROPY_ROM_TEXT_COMPRESSION option and the arm-none-eabi gcc compiler.  The unix makefile has a good explanation here: https://github.com/ProofDx/micropython/commit/18ae77a22336fd527caad3052752d3c7ef728fee

The compiler lacks some kind of optimization to drop out the strcmp used for the ROM TEXT Compression which

[2022-02-21 07:36] MichaelDu9226 opened #74 "Micro speech example based on Edge Impulse"
Hi, mocleiri.

After I successfully completed the image classification based on edge impulse and tensorflow-micropython-examples, I began to try the audio classification based on edge impulse.

At the beginning, my idea was the same as that of image classification. First, I trained the micro speech model based on edge impulse, and then imported the model into tensorflow-micropython-examples or  [t

[2022-02-24 04:34] mocleiri commented on #74
The spectrogramming is all over the place with tensorflow.

See here: https://groups.google.com/a/tensorflow.org/g/micro/c/vzdrYXHF3Iw/m/YOHvtN1FAwAJ

The code  you show is just copying the configuration used in the C++ example. If you are able to change the values to match what your model needs we could create a configuration object that would allow those values to be set from micropython.

Thank

[2022-02-25 05:13] mocleiri commented on #73
My first pass at this was to also include the optional ops code for both tflm and ulab but it still doesn't work.

I adjusted and now the stm32 boards with 1MB flash are building flashable firmware.  The H743ZI2 works for hello_world.  I'm missing something for the SparkFun ThingPlus which doesn't start right but does now build with the MICROPY_ROM_TEXT_COMPRESSION switch disabled.

[2022-02-25 05:28] #73 closed

[2022-02-25 05:38] mocleiri commented on #70
@jpliew sorry for the delay in fixing this.  My first pass I tried to get the builds working and optional ops working but while I got everything compiling it didń´t work when flashed to the device.

I ended up just fixing the build issues for stm32 in #73.

If you rebase your board configs to the latest commit on the main branch you should be able to compile working firmware for the F746ZG board.

[2022-02-25 05:42] jpliew commented on #70
Thanks @mocleiri , I will try it and let you know the outcome.

Cheers

[2022-03-08 23:52] Raunak-Singh-Inventor opened #75 "Using TensorFlow with MicroPython on the Pico???"
Does this repo currently support using TensorFlow with MicroPython on the Raspberry Pi Pico? If not, is support going to be added in the near future?

[2022-03-13 23:56] mocleiri commented on #75
@Raunak-Singh-Inventor yes there are rp2 build's downloadable from here:
https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1904374806

Carn you check if your particular pico board is being auto built?

I'd be happy to add your board of it's not already being built.

I'm building using the cmsis accelerated kernels and have run hello world and micro speech on the pico.

[2022-03-14 01:49] Raunak-Singh-Inventor commented on #75
@mocleiri I am using the ArduCam Pico4ML board: https://www.arducam.com/pico4ml-an-rp2040-based-platform-for-tiny-machine-learning. Would it be possible to add builds for this pico board?

[2022-03-14 11:14] MATTYGILO opened #76 "Problem getting output of neural network"
Hi I have a custom model with output shape of [1, 400], that has been quantised with tf.int8 for inputs and outputs. However when I run this code to find the limit of the output it seems unlimited. I am running on esp32.

[code]

It seems to just keep outputting values even though I feel like should after 400

All help is much appreciated thanks

[2022-03-14 13:12] MATTYGILO commented on #76
Ok for anyone confused about the functions class etc these are the parameters.

interpreter:  ['__class__', 'getInputTensor', 'getOutputTensor', 'invoke']
inputTensor:  ['__class__', 'getType', 'getValue', 'quantizeFloatToInt8', 'quantizeInt8ToFloat', 'setValue']

[2022-03-14 16:13] MATTYGILO commented on #76
inputTensor.getType(index)
inputTensor.getValue(index)
inputTensor.quantizeFloatToInt8(float_value)
inputTensor.quantizeInt8ToFloat(int_value)
inputTensor.setValue(index, value)

[2022-03-14 16:17] MATTYGILO commented on #76
microlite.interpreter(micro_speech_model_bytes, arena_size, input_callback, output_callback)

[2022-03-14 16:18] MATTYGILO commented on #76
interpreter.getInputTensor(index)
interpreter.getOutputTensor(index)
interpreter.invoke()

[2022-03-14 16:20] MATTYGILO commented on #76
microlite has these classes/functions

['__class__', '__name__', '__version__', 'audio_frontend', 'interpreter', 'tensor']

[2022-03-14 16:21] MATTYGILO commented on #76
inputTensor and outputTensor are classes of microlite.tensor
['__class__', '__name__', '__bases__', '__dict__', 'getType', 'getValue', 'quantizeFloatToInt8', 'quantizeInt8ToFloat', 'setValue']

[2022-03-14 16:22] MATTYGILO commented on #76
Audio_frontend has these classes/functions
['__class__', '__name__', '__bases__', '__dict__', 'configure', 'execute']

[2022-03-14 16:23] MATTYGILO commented on #76
Can you please use this to make some documentation

[2022-03-14 18:50] MATTYGILO commented on #76
Tensor Arena is the maximum size at any point in time needed to store all the tensors at that moment.

[2022-03-15 03:07] mocleiri commented on #75
@Raunak-Singh-Inventor I can't find any board specific pins or setup either at that link or within the pick-sdk for your board.  This makes me think that the standard pico build will work.

Can you try and flash [microlite-rp2-pico-firmware](https://github.com/mocleiri/tensorflow-micropython-examples/suites/5441404070/artifacts/172700732).

Hello world and micro_speech should work.

At the moment

[2022-03-15 03:40] mocleiri commented on #76
@MATTYGILO I can only go by the code you posted.  Generally you need to follow these steps:

1. Create the interpreter for the model.
2. Set the value for the input tensor.  (a 400 element array)
3. Run inference using (interpreter.invoke())
4. Read the results from the output tensor. ( a 400 element array)

Your code:
[code]

I don't see you initializing the interpreter, setting the input tensor

[2022-03-15 07:30] MATTYGILO commented on #76
Thanks @mocleiri I'll paste a bigger clip of my code I initialise when I'm next on my laptop.

Essentially I can run code like this
`outputTensor.getValue(1000000)`
And still receive a value
E.g -128

I'll look into it more but when I print all values up to 1000000 they seems to output "random" values.

Thanks for the help so far I'll get back to you when I tried some more

[2022-03-15 10:33] LAMSTREAM opened #77 "Error in import microlite"
Hi,mocleiri!
I have learn about arduino and try to play micropython recently
I am using the rasdpberrry pico and upload the firmware successfully
But when I import hello_world.py,it doesn't work
cross some efforts,I find that I can import the ulab but microlite can not
can you help me to solve this problem?
THANKS!

[2022-03-15 12:11] mocleiri commented on #76
@MATTYGILO a tensor is an array.  Because you expect it to be of shape [1, 400] I expect it to be an array of 400 int8 elements.

You can use the ulab.array to have a different shape but when you set the input tensor or get the output tensor its unrolled into a one dimensional array.

This is the code that runs when you get the ith value of the tensor:
https://github.com/mocleiri/tensorflow-microp

[2022-03-15 12:18] mocleiri commented on #77
@LAMSTREAM can you tell me which firmware you flashed?

The latest from the main branch works but there are other builds on other branches that don't work right.

These are the latest pico main branch builds: https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/1896970046

[2022-03-15 13:06] MATTYGILO commented on #76
@mocleiri Thanks these are my input and output tensors
`
inputTensor: tensor(type=INT8, dims->size=4)
outputTensor: tensor(type=INT8, dims->size=2)
`

[2022-03-15 13:10] MATTYGILO commented on #76
@mocleiri I think you may be onto something as my arena size is very big. If you think past 400 they are incorrect I'll only read the first 400. Thanks a lot for the suggestions and help it is much appreciated.

[2022-03-15 15:49] LAMSTREAM commented on #77
I have try this firmware and also #79 firmware,they both didn't work :(
[https://imgur.com/a/7w8dbrT](url)

[2022-03-15 18:14] mocleiri commented on #77
I have an [adafruit feather rp2040](https://learn.adafruit.com/adafruit-feather-rp2040-pico)  I'll run the latest and see what happens for me.  I've never had any issues with the firmware its always just worked.  I have seen lots of crashes in the stm32 build when invoking the interpreter but never I don't think in just loading the module.

What specific board do you have?  I think there should be

[2022-03-15 22:10] pyharry opened #78 "ESP official ESP32-S3-EYE v2.2 development board flash firmware"
Hello! Please tell me about the situation of ESP official ESP32-S3-EYE v2.2 development board flashing firmware (development board link: https://github.com/espressif/esp-who/blob/master/docs/en/get- started/ESP32-S3-EYE_Getting_Started_Guide.md), I tried to flash microlite-esp32-s3-firmware; microlite-esp32-s3-spiram-cs-gpio-20-firmware; microlite-esp32-s3-spiram-firmware; microlite -esp32-s3-spir

[2022-03-16 22:11] pyharry commented on #78
Hello, I tried the latest package from micropython.org, directly download GENERIC_S3-20220117-v1.18.bin (https://micropython.org/download/GENERIC_S3/), now this thonny can return the python character as shown below, I don’t know There is a problem there, see if you can help, generate a bin corresponding to the ESP32-S3-EYE integration, thank you
![88](https://user-images.githubusercontent.com/2620

[2022-03-17 12:11] Raunak-Singh-Inventor commented on #75
@mocleiri I uploaded the `firmware.uf2` to the pico. Now, how do I run the hello_world example?

[2022-03-17 12:15] Raunak-Singh-Inventor commented on #75
Never mind, will check out these instructions https://github.com/mocleiri/tensorflow-micropython-examples/tree/main/examples/hello-world#rp2-port

[2022-03-17 12:15] #75 closed

[2022-03-17 21:07] Raunak-Singh-Inventor opened #79 "rpi pico: hello_world example not working"
I followed the instructions, https://github.com/mocleiri/tensorflow-micropython-examples/tree/main/examples/hello-world#rp2-port, to run the hello_world example on my raspberry pico. When I copy:

- `hello_world.py`
- `model.tflite`
- and `main.py` which just contains `import hello_world`

The pico doesn't register the `main.py` and nothing happens (while as usual the pico would eject itself and r

[2022-03-19 15:28] LAMSTREAM commented on #77
Really thank you my mocleiri！
I solve this problem
My board is raspberry official board,and the firmware for it are really doesn't work
But I try to upload the Adaruit feather-rp2040's firmware for it this night.
and it truly work now!
Thanks you work for this!

[2022-03-19 15:29] LAMSTREAM commented on #79
hey bro,I found a way to solve this!
https://github.com/mocleiri/tensorflow-micropython-examples/issues/77

[2022-03-21 01:32] mocleiri commented on #77
I can see that my board is currently built first I'll reorder and see if I can reproduce the issue. Thanks for reporting and also how you fixed it

[2022-03-24 12:57] mocleiri commented on #78
Thanks for this report.  For esp32 and stm32 we have our pent board configuration that were copied from micropython upstream.

I suspect something was changed in the upstream configuration.

I don't have s3 boards but I can pick up the latest upstream changes and then trigger a build on that branch for you to test on.

[2022-03-27 02:58] pyharry commented on #78
Hello! Thank you very much for your reply and help! Looking forward to your builds for us to test, we'll try to provide feedback! At the same time, if it is convenient for you, I can provide an ESP32-S3-EYE v2.2 board to express and mail it to you to facilitate your joint debugging and build it for everyone to share, thank you!

[2022-04-06 10:29] MATTYGILO opened #80 "***ERROR*** A stack overflow in task mp_thread has been detected."
I am currently am running 2 threads on the esp32 using [https://docs.pycom.io/firmwareapi/micropython/_thread/](url).

Before I run one of the threads I run `_thread.stack_size(...)` to allocate more than enough memory for the tflite interpreter.

However when I call:

`interpreter = microlite.interpreter(...)`
which causes this error
`***ERROR*** A stack overflow in task mp_thread has been detect

[2022-04-10 10:21] MATTYGILO opened #81 "Didn't find op for builtin opcode 'SHAPE' version '1'"
When I load my model into the interpreter I get this error
[code]

[2022-04-10 10:45] MATTYGILO commented on #81
[code]

[2022-04-15 16:46] mocleiri commented on #81
I think this means your model is using an op not supported in tflite micro.

Here is the list of ops included: https://github.com/tensorflow/tflite-micro/blob/main/tensorflow/lite/micro/all_ops_resolver.cc

There is no range op.

Look at you model in netron and double check each op is supported and if not then you need to adjust your model to only have compatible ops.

There may also be options to

[2022-04-15 16:54] mocleiri commented on #78
I found the change I made to the esp32s3's which was to disable USB.

I wonder if for your board or needed it to be there.

Are you setup to build from scratch?

You could try to revert this change and then see if the s3ima few then works for you:

https://github.com/mocleiri/tensorflow-micropython-examples/commit/2d0948b542c6c5bee92b2bb9e383fec59a1358f1

[2022-04-17 20:56] pyharry commented on #78
Hello! The resources we need to call include video, audio, SD card, USB, WIFI, Bluetooth, and ESP-NN acceleration in the official https://github.com/espressif/tflite-micro-esp-examples, please help, Generate and package a BIN for download testing, thank you!

[2022-04-17 20:58] pyharry commented on #78
Hello! The resources we need to call include video, audio, display, SD card, USB, WIFI, Bluetooth, and ESP-NN acceleration in the official https://github.com/espressif/tflite-micro-esp-examples, please For help, generate and package a BIN for downloading and testing, thank you!

[2022-04-17 21:07] pyharry commented on #78
Hello! The resources we need to call are video, audio, display, SD card, USB, WIFI, Bluetooth, and ESP-NN acceleration in the official https://github.com/espressif/tflite-micro-esp-examples, here The official C BIN can run, please help, generate and package a BIN called by micropython for downloading and testing, thank you!

[2022-04-22 15:28] wldeveloperapps opened #82 "Bluetooth implementation ESP32"
Is there a way to include the esp32 bluetooth module in the micropython binary?

Thanks

[2022-04-23 08:32] TecDroiD opened #83 "esp32cam capturing and saving image works on repl but not from script"
hi,
i want to get some grayscale image from esp32cam module and thought that it's the easiest to capture a raw image, save it and read it via ampy get...

tought...

having the following code in repl:
`import camera
camera.init(0,format=camera.GRAYSCALE, framesize=camera.FRAME_VGA)
img = camera.capture()
with open ('image.sc', 'wb') as fp:
   fp.write(img)
`
I can save my image and read it after

[2022-04-28 09:52] MATTYGILO opened #84 "Guru Meditation Error: Core 1 panic'ed (InstrFetchProhibited). Exception was unhandled."
I'm running on the optimised neural network firmware

However after doing 8 executions on my 9th this occurs, I'm uncertain of what the error is.

[code]

All help would be much appreciated.

Thanks

[2022-04-28 09:54] MATTYGILO commented on #84
From the docs `https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/fatal-errors.html`

[code]

[2022-04-29 09:14] MATTYGILO commented on #84
[code]

[2022-04-29 11:05] ASabovic opened #85 "Wrong prediction every time using the person detection model on ESP32-WROVER-IE board"
Hi guys,
I am using the ESP32-WROVER-IE board with the ov2640 camera connected to it. I am trying to run the person detection example and see if I can get some output results based on the captured image. Every time I get same result where the higher value is assigned to not_a_person prediction even if I am present on the picture. I also tried with the existing example but there as well the predict

[2022-05-04 09:44] MATTYGILO commented on #84
This is a memory error, what I'd suggest is cutting your code to the bare basics.

As bare as you can go and debug as much as possible, use mem_info to find block sizes etc

[2022-05-09 14:13] ASabovic opened #87 "Person detection model does not work on ESP32-WROVER-IE"
Hi,

I am using ESP32-WROVER-IE board with ESP32-MICROLITE-SPIRAM firmware flashed on it. I am trying to test the person detection model but it does not work. Based on results, predictions are just random numbers without any logic. Is there any solution for this issue or the model cannot work on MicroPython boards?

P.S. I have already check this issue here: https://github.com/tensorflow/tflite-mi

[2022-05-18 17:22] MATTYGILO commented on #84
So after a tonne of debugging, I have worked out that you should reload the whole interpreter before doing a large batch of detections. Take this example.

[code]

[2022-05-18 17:24] #84 closed

[2022-05-20 17:29] mocleiri commented on #87
I suspect you are getting memory corruption because the micropython heap and the camera frame buffer are overlapping.

By setting the CONFIG_SPIRAM_USE_MALLOC=y flag the heap and frame buffer will be kept separate.

[2022-05-25 07:47] ASabovic commented on #87
Is it possible to run the same example on the esp32-WROVER-IE board but using the external ov2640 2MP Mini Plus camera and the camera driver you mentioned above? With the esp32-cam board, the camera is already integrated into the board, so all pins are defined in the example, but what in the case when the external module needs to be connected with the board?

[2022-05-25 11:49] uraich commented on #87
I did not try because I don't have these modules. However, the pin connections are found in micropython-modules/micropython-camera-driver/modcamera.h
You will have to re-build tflite-micro-micropython if you change these settings. You may also use the file to make connections to the camera that conform to these settings

[2022-05-25 14:25] mocleiri commented on #87
The init call can use specific pins with out the need to recompile: https://github.com/mocleiri/tensorflow-micropython-examples/blob/2c4573dbaf41dd391a15276bbe4bd9368ae169c4/examples/person_detection/esp32-cam/person_detection_cam.py#L18

The above is what the reference example uses for the M5 Timer Cam which has the ov3660 sensor (the board I have)

The camera driver seems to auto detect the sens

[2022-05-25 14:28] mocleiri commented on #82
Which images are you looking at?  I think based on the board configs that they should already support Bluetooth.

That being said I haven't used Bluetooth on then so it's possible something is missing

[2022-06-01 01:58] w0ssh opened #88 "aflah02"

[2022-06-01 01:59] w0ssh commented on #88
Re: [tensorflow/tensorflow] TF2XLA Bincount initial test and dummy kernel (PR #56276)

[2022-06-01 01:59] w0ssh commented on #88
Re: [tensorflow/tensorflow] TF2XLA Bincount initial test and dummy kernel (PR #56276)

[2022-06-03 02:01] #88 closed

[2022-06-09 09:35] ASabovic commented on #87
Is it possible to use ESP32 together with Arduino IDE and use the exact same code for person detection that already works with Arduino boards? I am again thinking of switching to ESP32 as I saw that BLE Mesh, which I also need for my project, is supported by ESP32 and can be implemented using Arduino IDE.

[2022-06-10 12:51] MATTYGILO opened #89 "Multi thread tflite"
How do I use multiple threads for my tflite?

[2022-06-17 04:13] mocleiri commented on #89
You can use the micropython thread class.  But it depends on the port what CPU the thread actually runs on.  For example ESP32 threads always run on the APP core (the micropython freertos task is pinned to the APP core).  I think RP2040 threads are supposed to use both cores.

[2022-06-23 11:44] nicolashickl opened #90 "install firmware"
can you help me please, what is my mistake? I tried to install the esp32 firmware as a zip. now the following error message appears in thonny:
i have just connected a micro sd card adapter.

![image](https://user-images.githubusercontent.com/108065603/175291055-9a93ff8a-4329-45fc-8f21-3533cda1c2e0.png)

[2022-06-24 07:12] nicolashickl commented on #90
or is this the wrong way to install the firmware? (i just downloaded the zip file,, put it in thonny and installed it)

[2022-06-27 00:38] mocleiri commented on #90
You need to unzip the file as there are a couple of files within it.

The instructions I use from windows to flash are located on the main page: https://github.com/mocleiri/tensorflow-micropython-examples#flash-image

[code]
on my system the esp32 shows up as COM5.

Someone posted the linux steps in one of the issues but I don´t recall which one at the moment but you can  search for it.

Be sure y

[2022-06-27 06:20] nicolashickl commented on #90
thank you, now it works :)

[2022-08-09 09:08] lcarnevale opened #91 "Both requests and urequests are missing"
Hey there,

I wanna develop further applications on this firmware but both requests and urequests are missing.
How can I add them? What is the micropython version from which you started?

Lorenzo.

[2022-08-15 09:28] MATTYGILO opened #92 "Replace ARENA_SIZE int with memoryview"
This would allow for more accurate memory allocation in the case the developer wants to re load the neural network in but keep the same section of memory for the arena

[2022-08-15 10:04] uraich opened #93 "modules need update to work with new version of micropython"
The parameters in MP_REGISTER_MODULE have been modified in the latest micropython versions. The last parameter (enabling the module) has been removed.
This causes trouble when compiling.
Also the micropython-lib must be initialized using make BOARD=... submodules
I saw that master has not been updated since 6 months now.

[2022-08-17 02:01] mocleiri commented on #93
Thanks for specifying the steps required to fix the build.  I´m short of extra time in the last few months due to my day job.

I´ll try to make time to get the build working again on the current tensorflow and micropython versions.

[2022-08-28 20:04] mocleiri opened #94 "Try to run tflm python tests using micropython unix port"
On June 3, 2022 https://github.com/tensorflow/tflite-micro/pull/1147 was merged into the upstream tflm repository.  It added a C Python wrapper for running tflm in unix.

As part of this it also added some unit tests.

Let's see if we can get the unix port to also run and pass these tests.

[2022-08-29 01:29] mocleiri commented on #90
Closing as it is reported as working.

[2022-08-29 01:29] #90 closed

[2022-09-03 15:05] mocleiri commented on #93
I have a feature branch in progress where the builds are mostly working.

I have a problem with the stm32 build due to changes in tflm for one of the cortex m optimized source files.  It needs access to one of the CMSIS header files and I'm trying to work out where that file lives in the micropython build and why it's not being included.

The latest micropython supports building with an external C

[2022-09-03 17:54] MATTYGILO opened #95 "Custom Spectrogram sizes using audio frontend"
Hi I was wondering if it is possible to customise audio frontend to allow for different sample rates, stride size's and duration size's.

[2022-09-22 07:06] yokoyama-flogics opened #96 "Can not "import camera" by microlite-spiram-cam-esp32-firmware"
Hello,

This may be a silly mistake, but please help.

I downloaded `microlite-spiram-cam-esp32-firmware` (commit: [2aa9d11](https://github.com/mocleiri/tensorflow-micropython-examples/commit/2aa9d11cf0fe5792e51062640b5fc44cd5c76662)) and trying to run it on an Espressif ESP-EYE Dev board.  (I know it's not tested yet by the project.  But the board **looks** having an OV2640, and the board is supp

[2022-09-22 19:38] uraich commented on #96
Hi Atsushi,
Just now I managed to compile a new version of tflite-micropthon for the esp32-cam. Unfortunately this was pretty tricky because recent changes of the MicroPython sources break the camera and the tflite module.
I managed to flash the binary using idf.py flash but I don't know yet, how to create a combined binary that I can give you access to, for download and flashing.
I will give it a

[2022-09-22 19:47] uraich opened #97 "Recent changes in the MP sources break modules"
Recent changes in the MicroPython sources require changes to the camera and tflite modules
- The last parameter in MP_REGISTER_MODULE (enable flag) must be removed
- The patch of MP for the camera driver is not needed any longer and does not work anymore.
- There are changes to mp_obj_type_t: [changes to mp_onj_type_t](https://github.com/micropython/micropython/wiki/Build-Troubleshooting#define_co

[2022-09-23 00:19] yokoyama-flogics commented on #96
Hello @uraich,

Thank you for your reproduction of the issue and investigation!

I understood that the issue came from the original MicroPython source code updates.

And also thanks for the interesting and helpful instructive documentation.  I will try compiling the code by myself.

Regards,
Atsushi

[2022-09-23 00:19] #96 closed

[2022-09-26 06:07] yokoyama-flogics commented on #96
Hi @uraich,

Thanks again for the detailed explanation.

First, could you let me confirm which version (commit ID) of [tensorflow-micropython-examples](https://github.com/mocleiri/tensorflow-micropython-examples/) you refer?

When I checked out the latest master branch of the repo (2c4573d), the submodule `micropython` looks like below:

[code]

The commit (517e82e) of `micropython` looks pretty o

[2022-09-26 07:41] uraich commented on #96
Hi Atsushi,
Thanks for going through the instructions and telling me about its deficiencies.
If you read the instructions very attentively then you will see that in the first step, where I clone the repository I do it with the command:
git clone https://github.com/mocleiri/tensorflow-micropython-examples tflite-micro-micropython
This renames tensorflow-micropython-examples to tflite-micro-micropyt

[2022-09-26 10:06] yokoyama-flogics commented on #96
Hello @uraich,

Thank you for pointing out my oversight.  I didn't see the last argument for the git clone command.  Sorry...

I needed some trials, but now I could run the code on Espressif ESP-EYE (ESP32 version).  I'm not sure person detection is correctly working, but I will test it tomorrow.  (I want an LCD on back.)

As a pitfall for MicroPython beginners (or me), I noticed we needed below p

[2022-10-03 08:19] tejalbarnwal opened #98 "Integrate microlite with OpenMV"
Hey, is it possible to integrate the `microlite` module with [OpenMV](https://openmv.io/)?

[2022-10-05 10:43] surajkumarpandey opened #99 "ESP32 goes on a continuous printing loop after firmware for ESP32 is uploaded."
Hi all,
I was trying to upload the micropython TFlite firmware provided for ESP32  provided in the link "https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/2968453830"  (first one named as "microlite-esp32-firmware") but after uploading it, my thonny terminal goes into a non-stop loop printing following statements:

**"rst:0x10 (RTCWDT_RTC_RESET),boot:0x13 (SPI_FAST_FLASH_BOO

[2022-10-05 12:41] uraich commented on #99
Which esp32 board are you using? Does it have PSRAM?

[2022-10-05 12:45] surajkumarpandey commented on #99
Thank you for responding. I have tried it with ESP EYE (8MB PSRAM) and ESP32-WROOM-32.

[2022-10-05 12:48] uraich commented on #99
Ok, Can you try to download and flash:
[firmware.bin](https://github.com/uraich/EdgeComputing/blob/main/firmware/firmware.bin)
and tell me if that works any better?

[2022-10-05 13:00] surajkumarpandey commented on #99
Thank you for the file but uploading this also yields a  continuous loop with following statements:

"ELF file SHA256: fc359ed41e6490b2

Rebooting...
ets Jun  8 2016 00:22:57

rst:0xc (SW_CPU_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
mode:DIO, clock div:2
load:0x3fff0030,len:4344
load:0x40078000,len:13824

[2022-10-05 13:51] surajkumarpandey commented on #99
No. I just use the update firmware option in Thonny to burn it as a new firmware.

[2022-10-05 14:06] surajkumarpandey commented on #99
Do we need to upload the bootloader and partioion-table together with the "micropython.bin" given. I am first uploading just the micropython file. Could that be an issue?

[2022-10-05 14:13] uraich commented on #99
No. In fact I am using an esp32-cam (much cheaper and less powerful than your board) Yours uses an esp32s3 chip while mine uses a standard esp32. As far as I can see, there is MICROLITE_S3_SPIRAM in tflite-micropython, but that does not include the camera driver.
Therefore tflte-micropython should be compiled for the esp32s3 and the camera driver must be added. Since I don't have such a board, I c

[2022-10-05 14:27] uraich commented on #96
Hi Atsushi,
Just for curiosity: Did you manage to get tflite-micropython to run on your esp32-eye? As far as I could see, the camera driver is not included in the esp32s3 version.

[2022-10-05 14:29] surajkumarpandey commented on #99
I am for now experimenting with ESP32 WROOM which is a generic ESP32 chip without camera. I have kept ESP-EYE aside for now. But even on ESP32 WROOM the issue persists, which has the generic ESP32 chip.

[2022-10-05 14:30] uraich commented on #96
Does this board have PSRAM?

[2022-10-05 14:32] uraich commented on #99
Does this board have PSRAM?

[2022-10-05 14:41] surajkumarpandey commented on #99
No it doesn't have PSRAM.

[2022-10-05 14:42] surajkumarpandey commented on #99
My ESP-EYE has esp32 chip only.

[2022-10-05 14:43] surajkumarpandey commented on #99
May I know how you uploaded the firmware?

[2022-10-05 15:04] surajkumarpandey commented on #99
Ok. It seems you did not use the partition-table and the bootloader as well. i will try to look out for more options. Still, thank you for your responses!

[2022-10-05 15:29] uraich commented on #99
I am using the makeimg.py from the esp32 micropython port to build firmware.bin from micropython.bin and that includes partition table and bootloader into the final firmware image. I do **not** flash micropython.bin but firmware.bin which is generated by makeimg.py.
On my esp32-cam this works without any problems.

[2022-10-05 15:38] surajkumarpandey commented on #99
It seems you are using ESP-IDF IDE.

[2022-10-05 15:38] surajkumarpandey commented on #99
It worked in windows so I am switching to windows for now. Thanks for the discussion!

[2022-10-05 17:57] surajkumarpandey commented on #99
Ok. I was using Ubuntu before. in windows I directly used the command given for uploading the firmware.

[2022-10-05 19:10] uraich commented on #99
I am using Ubuntu 22.04 myself. Did you try the shell scripts I gave you on Ubuntu? These should work, if you have a fairly new version of esp_tool installed.
Good luck with your further explorations.

[2022-10-06 00:45] yokoyama-flogics commented on #96
Hi @uraich,

As you see in [the Espressif product page](https://www.espressif.com/en/products/devkits/esp-eye/overview), there are two variants of ESP-EYE.  One is equipped with ESP32 and another has ESP32-S3.  My boards is the former and I could manage to run the example code by changing camera connection pin assignments only in the Python code, as mentioned in the previous reply.

In addition to

[2022-10-06 00:47] yokoyama-flogics commented on #96
Yes, it does.  As mentioned in the Espressif product page, they say it has 8 Mbytes PSRAM.

[2022-10-06 07:30] uraich commented on #97
I got the new version running locally.
A binary for the esp32-cam (should also work on the esp32-eye) is available at [esp32 firmware on github](https://github.com/uraich/EdgeComputing/tree/main/firmware).

[2022-10-06 07:30] #97 closed

[2022-10-06 07:32] #93 closed

[2022-10-06 12:43] surajkumarpandey commented on #99
Is there a documentation for the functions/objects used in the Hello_world example? I am trying to build a custom network that requires different configuration for running. For instance I wanted to know about the second parameter of "microlite.interpreter()" as to whose size is it and are callbacks optional for interpreter.

[2022-10-06 13:00] surajkumarpandey opened #100 "Issue while running the Hello World example"
I am trying to run the Hello World example with ESP32. The values are printed but afterwards the following issue is shown:

"PROBLEM IN THONNY'S BACK-END: Exception while handling 'get_globals' (thonny.plugins.micropython.mp_back.ManagementError: Management markers missing).
See Thonny's backend.log for more info.
You may need to press "Stop/Restart" or hard-reset your MicroPython device and try a

[2022-10-09 15:56] mocleiri commented on #95
I just hard coded the spectrogram settings used on the reference example.

It's 100% possible to create a config object for the various settings and use it to change the settings used.

https://github.com/mocleiri/tensorflow-micropython-examples/blob/2c4573dbaf41dd391a15276bbe4bd9368ae169c4/micropython-modules/microlite/audio_frontend.c#L82

I.e. make a micropython config object to hold the settin

[2022-10-09 16:08] mocleiri commented on #99
@surajkumarpandey can you post the command you used to flash the firmware?

The firmware zip is not directly flash able.

The instructions on the readme show from the unzipped file how to flash the various parts:
https://github.com/mocleiri/tensorflow-micropython-examples#flash-from-windows

[2022-10-09 16:18] uraich commented on #99
Hi Michael,
I copied makeimg.py from the micropython sources to the boards directory of the board I am using (MICROLITE_SPIRAM_CAM) Then I created a simple shell script to call this

#!/bin/sh

python3 makeimg.py \
build/sdkconfig \
build/bootloader/bootloader.bin \
build/partition_table/partition-table.bin \
build/micropython.bin \
build/firmware.bin \
build/micropython.uf2

This creates firmware

[2022-10-09 16:48] mocleiri commented on #98
The microlite module is sort of a fork of openmv.  The python API is different but I copied a lot of the glue code between micropython and tflm.

At the time this firmware started there was no OpenMV esp32 or rp2040 port.

If you have an stm32H7 you should use OpenMV.  For ESP32 you should consider microlite.

Both integrate tensorflow for micro controllers so if you have the model then you could

[2022-10-09 16:51] mocleiri commented on #91
@lcarnevale can you retest using the latest firmware which is on the latest micropython?

https://github.com/mocleiri/tensorflow-micropython-examples/actions/runs/2968453830

[2022-10-09 16:55] mocleiri commented on #99
@uraich thanks.

I'll incorporate that into the automatic builds to simplify flashing.

[2022-10-09 18:49] surajkumarpandey commented on #99
@mocleiri Thank you for asking. I flashed the firmware directly using thonny interpreter's 'update firmware functionality' in ubuntu (as I could not find any other available option). However, as I mentioned, I moved to windows later where it could be uploaded. But I wanted some help over the documentation of the functions used to be able to run a custom model.

[2022-10-09 20:00] mocleiri commented on #99
@surajkumarpandey thanks.

I want to use this issue for changing the ESP32 builds to build a unified image suitable for direct flashing.

I'll move your other question about the API over to another issue where hopefully we can get you setup and improve the documentation for others in the future.

[2022-10-09 20:02] surajkumarpandey commented on #99
@mocleiri Sure! Thank you.

[2022-10-09 20:06] mocleiri opened #101 "Question's about microlite.interpreter API"
I'm splitting this question from surajkumarpandey in #99 out into a separate issue.
`
Is there a documentation for the functions/objects used in the Hello_world example?
 I am trying to build a custom network that requires different configuration for running. For instance I wanted to know about the second parameter of "microlite.interpreter()" as to whose size is it and are callbacks optional for

[2022-10-09 20:29] mocleiri commented on #101
The only documentation are the examples themselves or the microlite module code.

The parameters for the microlite.interpreter are:

1. Tensorflow lite for microcontrollers model loaded into byte array.  The size of the array should match the file size of the model.
2. Arena size.   TFLM needs a memory area to run inference within.  This number varies depending on the model being used.
3. Callback

[2022-10-11 15:24] tejalbarnwal commented on #98
Hey, I am actually working with Arduino Nicla Vision, which kind of needs OpenMV to work.

[2022-10-11 15:26] tejalbarnwal commented on #98
Could you please guide me to where I could find the parts of microlite in the repository (specifically the regression examples) that follow the template of OpenMV?

[2022-10-11 22:08] mocleiri commented on #98
The micropython module on OpenMV is tf:
https://docs.openmv.io/library/omv.tf.html

This example shows how to flash OpenMV to your board:
https://docs.arduino.cc/tutorials/nicla-vision/blob-detection

Once it's flashed use the tf module to run your model.

[2022-10-11 22:08] #98 closed

[2022-10-14 05:19] tejalbarnwal commented on #101
In which folder of this repository do we find the code for microlite?

[2022-10-14 05:47] tejalbarnwal commented on #101
Hey, just to confirm to, build an example like `hello-world` from scratch for a custom network, is referring to the following files enough:
`openmv-libtf.cpp` and  `tensorflow-microlite.c`

[2022-10-15 18:12] tejalbarnwal commented on #101
Hey, @mocleiri I had one more doubt, what `mp_call_function_1` refer to [here](https://github.com/mocleiri/tensorflow-micropython-examples/blob/2c4573dbaf41dd391a15276bbe4bd9368ae169c4/micropython-modules/microlite/openmv-libtf.cpp#L112) ?
Where is the `mp_call_function_1` function implemented?

[2022-10-15 19:21] mocleiri commented on #101
The purpose of the micropython firmware is that plugging in and experimenting with a new model can all be done from the micropython side.

Its true for additional context you can look at those C++ and C files but in general you just need to upload the model into the file system and then adjust the input callback to setup the input tensor and adjust the output callback to read out the inferenced re

[2022-10-16 12:18] 331319341 commented on #100
I also encountered the same problem

[2022-11-04 09:28] gigwegbe opened #102 "Support for Wio Terminal and Xiao"
Hello @mocleiri,
Thanks for the fantastic work. Could you please guide me on how to port tensorflow-micropython-example for both SAMD  boards([Wio Terminal](https://wiki.seeedstudio.com/Wio-Terminal-Getting-Started/) and [Xiao](https://wiki.seeedstudio.com/Seeeduino-XIAO/))? Here is  [Ardupy](https://github.com/Seeed-Studio/ArduPy/tree/master/ports/samd/boards) which is supported by both boards, I

[2022-11-20 19:09] robostart-io opened #103 "Firmware for ESP32-C3"
Good day, dear Michael and creators of microlite!
Thanks for your wonderful project. This is a very handy item. It seems to me that his appearance is a very big event in the world of micropython.
Let me ask you, is it possible to create a firmware for the increasingly popular ESP32-C3 based on RISC-V?

[2022-11-27 17:32] mocleiri commented on #103
At  the moment I'm not building for all boards only the ones that people ask for and can verify.  If you have an ESP32-C3 to test with I can add a build for it.

Normally I copy the board configs from micropython and then customize as needed for the microlite module. Which board config are you using?

[2022-11-27 17:43] mocleiri commented on #102
This project is a micropython C user module.  You need to get a board configuration and then build micropython for that board incorporating the microlite module.

The main issue is the build environment's support of C/C++'s standard libraries.  The ESP32 and RP2040 builds work nicely because the standard libraries are included in their respective  SDK's.

The STM32  port doesn't work right because